Repository osuide/detection-coverage-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-type-hints, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for A13E Detection Coverage Validator
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: black (Python formatter)
        files: ^backend/
        language_version: python3

  # Python linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        name: ruff (Python linter)
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

  # Check for untyped functions (all functions must have return type annotations)
  - repo: local
    hooks:
      - id: check-type-hints
        name: check type hints (Python)
        entry: python backend/scripts/check_type_hints.py
        language: python
        files: ^backend/app/.*\.py$
        pass_filenames: true

  # Terraform formatting
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt
        name: terraform fmt
        files: ^infrastructure/terraform/

  # Frontend linting with ESLint
  - repo: local
    hooks:
      - id: eslint
        name: eslint (TypeScript/React linter)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(frontend/public/docs/|.*\.md)$
      - id: end-of-file-fixer
        exclude: ^(frontend/public/docs/|.*\.md)$
      - id: check-yaml
        args: [--unsafe]
        exclude: ^backend/(app/)?templates/.*\.yaml$
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, production]

Make /redoc available in all environments (incl. production)
  backend/app/main.py
Due: check-type-hints

Remove Blog and Careers links from landing page footer
  frontend/src/pages/Landing.tsx
Due: eslint

Rebalance landing page footer into 3-3-3 structure
  frontend/src/pages/Landing.tsx
Due: eslint

Remove WAF IP restriction on staging - allow all access
  infrastructure/terraform/staging.tfvars
Due: none

Fix scan execution by committing transaction before background task
  backend/app/api/routes/scans.py
Due: check-type-hints

Fix audit logs to show real client IPs instead of ALB IPs
  backend/app/api/routes/api_keys.py
  backend/app/api/routes/billing.py
  backend/app/api/routes/credentials.py
  backend/app/api/routes/org_security.py
  backend/app/api/routes/teams.py
  infrastructure/terraform/modules/backend/main.tf
Due: check-type-hints

Add production infrastructure: NAT Gateway, Multi-AZ RDS, private subnets
  .gitignore
  infrastructure/terraform/main.tf
  infrastructure/terraform/modules/backend/main.tf
  infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/prod.tfvars
  infrastructure/terraform/variables.tf
Due: none

Add Google Workspace WIF integration
  backend/app/api/routes/workspace_setup.py
  backend/app/main.py
  backend/app/services/google_workspace_service.py
  backend/scripts/setup_workspace.py
  infrastructure/terraform/modules/gcp-wif-workspace/README.md
  infrastructure/terraform/modules/gcp-wif-workspace/main.tf
  infrastructure/terraform/outputs.tf
  infrastructure/terraform/staging.tfvars
Due: check-type-hints

Skip GCP WIF module in CI (managed locally)
  .github/workflows/deploy.yml
Due: none

Separate GCP WIF into its own Terraform directory
  .github/workflows/deploy.yml
  infrastructure/terraform-gcp-wif/.gitignore
  infrastructure/terraform-gcp-wif/main.tf
  infrastructure/terraform-gcp-wif/staging.tfvars
  infrastructure/terraform/main.tf
  infrastructure/terraform/outputs.tf
Due: none

Add Terraform backend config files for staging/prod state separation
  infrastructure/terraform/backend-prod.hcl
  infrastructure/terraform/backend-staging.hcl
  infrastructure/terraform/prod.tfvars
Due: none

Fix require_role import in workspace_setup
  backend/app/api/routes/workspace_setup.py
Due: check-type-hints

Update prod.tfvars with production Stripe price IDs
  infrastructure/terraform/prod.tfvars
Due: none

Simplify prod.tfvars to 2-tier pricing model
  infrastructure/terraform/prod.tfvars
Due: none

Add missing support.py route file
  backend/app/api/routes/support.py
Due: check-type-hints

Update gitignore to protect all .env.terraform* files
  .gitignore
Due: none

Fix get_db import in support.py
  backend/app/api/routes/support.py
Due: check-type-hints

Fix Detection import in support.py
  backend/app/api/routes/support.py
Due: check-type-hints

Add support integration settings and API key verification
  backend/app/core/config.py
  backend/app/core/security.py
Due: check-type-hints

Fix GCP WIF setup script permission and pool name issues
  backend/app/templates/gcp_wif_setup.sh
Due: none

Implement ECS-compatible WIF with domain-wide delegation
  backend/app/services/ecs_wif_credentials.py
  backend/app/services/google_workspace_service.py
Due: check-type-hints

Enable ECS Exec for debugging and running scripts
  infrastructure/terraform/modules/backend/main.tf
Due: none

Add Google Workspace support system backend
  backend/app/api/routes/workspace_setup.py
  backend/app/core/config.py
  backend/app/services/google_workspace_service.py
Due: check-type-hints

Fix type annotations in ecs_wif_credentials.py
  backend/app/services/ecs_wif_credentials.py
Due: check-type-hints

Add Gmail filter setup script
  backend/scripts/setup_gmail_filters.py
Due: none

Add user-facing support endpoints
  backend/app/api/routes/support.py
Due: check-type-hints

Add script to check for duplicate Workspace resources
  backend/scripts/check_workspace_duplicates.py
Due: none

Fix import error: get_current_user is in auth.py
  backend/app/api/routes/support.py
Due: check-type-hints

Fix GCP WIF credential validation to use WIF service
  backend/app/api/routes/credentials.py
Due: check-type-hints

Fix GCP WIF: use boto3 credentials supplier and valid provider_id
  backend/app/api/routes/credentials.py
  backend/app/models/cloud_credential.py
  backend/app/services/gcp_wif_service.py
  backend/app/templates/gcp_wif_setup.sh
  backend/app/templates/terraform/gcp/main.tf
Due: check-type-hints

Add GCP support to recommendations API and frontend
  backend/app/api/routes/recommendations.py
  backend/app/services/remediation_service.py
  frontend/src/components/StrategyDetailModal.tsx
  frontend/src/services/api.ts
Due: check-type-hints, eslint

Fix GCP Terraform templates based on best practice review
  backend/app/data/remediation_templates/t1078_004_cloud_accounts.py
  backend/app/data/remediation_templates/t1098_003_additional_cloud_roles.py
  backend/app/data/remediation_templates/t1530_data_from_cloud_storage.py
  backend/app/data/remediation_templates/t1555_006_cloud_secrets.py
Due: check-type-hints

Fix remaining duplicate project lines in GCP templates (batch 3)
  backend/app/data/remediation_templates/t1052_exfil_physical_medium.py
  backend/app/data/remediation_templates/t1071_003_mail_protocols.py
  backend/app/data/remediation_templates/t1071_004_dns.py
  backend/app/data/remediation_templates/t1072_software_deployment_tools.py
  backend/app/data/remediation_templates/t1078_valid_accounts.py
  backend/app/data/remediation_templates/t1080_taint_shared_content.py
  backend/app/data/remediation_templates/t1098_005_device_registration.py
  backend/app/data/remediation_templates/t1102_002_bidirectional_communication.py
  backend/app/data/remediation_templates/t1110_003_password_spraying.py
  backend/app/data/remediation_templates/t1201_password_policy_discovery.py
  backend/app/data/remediation_templates/t1210_exploitation_remote_services.py
  backend/app/data/remediation_templates/t1485_001_cloud_storage_deletion.py
  backend/app/data/remediation_templates/t1490_inhibit_system_recovery.py
  backend/app/data/remediation_templates/t1491_001_internal_defacement.py
  backend/app/data/remediation_templates/t1491_002_external_defacement.py
  backend/app/data/remediation_templates/t1498_001_direct_network_flood.py
  backend/app/data/remediation_templates/t1498_network_dos.py
  backend/app/data/remediation_templates/t1550_001_app_access_token.py
  backend/app/data/remediation_templates/t1554_compromise_host_software.py
  backend/app/data/remediation_templates/t1556_009_conditional_access_policies.py
  backend/app/data/remediation_templates/t1569_system_services.py
  backend/app/data/remediation_templates/t1578_005_modify_cloud_compute_config.py
  backend/app/data/remediation_templates/t1589_gather_victim_identity.py
  backend/app/data/remediation_templates/t1591_gather_victim_org_info.py
  backend/app/data/remediation_templates/t1654_log_enumeration.py
Due: check-type-hints

Fix Terraform attribute names in AWS EventBridge targets
  backend/app/data/remediation_templates/t1190_exploit_public_facing_app.py
  backend/app/data/remediation_templates/t1485_data_destruction.py
  backend/app/data/remediation_templates/t1486_data_encrypted_for_impact.py
  backend/app/data/remediation_templates/t1489_service_stop.py
  backend/app/data/remediation_templates/t1546_event_triggered_execution.py
  backend/app/data/remediation_templates/t1556_modify_auth_process.py
  backend/app/data/remediation_templates/t1562_001_disable_security_tools.py
Due: check-type-hints

Add missing target_id to AWS EventBridge targets
  backend/app/data/remediation_templates/t1036_masquerading.py
  backend/app/data/remediation_templates/t1071_application_layer_protocol.py
  backend/app/data/remediation_templates/t1127_trusted_dev_utils.py
  backend/app/data/remediation_templates/t1190_exploit_public_facing_app.py
  backend/app/data/remediation_templates/t1489_service_stop.py
  backend/app/data/remediation_templates/t1491_002_external_defacement.py
  backend/app/data/remediation_templates/t1491_defacement.py
  backend/app/data/remediation_templates/t1496_002_bandwidth_hijacking.py
  backend/app/data/remediation_templates/t1505_server_software_component.py
  backend/app/data/remediation_templates/t1518_001_security_software_discovery.py
  backend/app/data/remediation_templates/t1518_software_discovery.py
  backend/app/data/remediation_templates/t1525_implant_internal_image.py
  backend/app/data/remediation_templates/t1531_account_access_removal.py
  backend/app/data/remediation_templates/t1535_unused_cloud_regions.py
  backend/app/data/remediation_templates/t1537_transfer_data_cloud_account.py
  backend/app/data/remediation_templates/t1546_event_triggered_execution.py
  backend/app/data/remediation_templates/t1548_abuse_elevation.py
  backend/app/data/remediation_templates/t1550_002_pass_the_hash.py
  backend/app/data/remediation_templates/t1550_use_alternate_auth.py
  backend/app/data/remediation_templates/t1552_001_credentials_in_files.py
  backend/app/data/remediation_templates/t1552_005_cloud_instance_metadata.py
  backend/app/data/remediation_templates/t1556_modify_auth_process.py
  backend/app/data/remediation_templates/t1562_001_disable_security_tools.py
  backend/app/data/remediation_templates/t1564_hide_artifacts.py
  backend/app/data/remediation_templates/t1572_protocol_tunneling.py
  backend/app/data/remediation_templates/t1573_encrypted_channel.py
  backend/app/data/remediation_templates/t1574_hijack_execution_flow.py
  backend/app/data/remediation_templates/t1578_001_create_snapshot.py
  backend/app/data/remediation_templates/t1578_002_create_cloud_instance.py
  backend/app/data/remediation_templates/t1611_escape_to_host.py
Due: check-type-hints

Fix GCP detection relevance across 6 remediation templates
  backend/app/data/remediation_templates/t1068_exploitation_for_privilege_escalation.py
  backend/app/data/remediation_templates/t1098_account_manipulation.py
  backend/app/data/remediation_templates/t1110_001_password_guessing.py
  backend/app/data/remediation_templates/t1199_trusted_relationship.py
  backend/app/data/remediation_templates/t1525_implant_internal_image.py
  backend/app/data/remediation_templates/t1552_005_cloud_instance_metadata.py
Due: check-type-hints

Prepare Terraform infrastructure for production deployment
  infrastructure/terraform/.terraform.lock.hcl
  infrastructure/terraform/modules/gcp-wif-workspace/main.tf
  infrastructure/terraform/modules/security/security-headers.zip
Due: none

Revert "Prepare Terraform infrastructure for production deployment"
  infrastructure/terraform/.terraform.lock.hcl
  infrastructure/terraform/modules/gcp-wif-workspace/main.tf
  infrastructure/terraform/modules/security/security-headers.zip
Due: none
