Repository osuide/detection-coverage-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-type-hints, eslint

check-type-hints:
  name: check type hints (Python)
  entry: python backend/scripts/check_type_hints.py
  language: python
  pass_filenames: true

eslint:
  name: eslint (TypeScript/React linter)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

Standardise frontend navigation with PageHeader component
  frontend/src/components/navigation/PageHeader.tsx
  frontend/src/components/navigation/index.ts
  frontend/src/pages/ComplianceHistory.tsx
  frontend/src/pages/ConnectOrganization.tsx
  frontend/src/pages/OrganizationDashboard.tsx
  frontend/src/pages/OrganizationMembers.tsx
  frontend/src/pages/TechniqueDetail.tsx
Due: eslint

Fix GCP DetectionStrategy missing required aws_service parameter
  backend/app/data/remediation_templates/t1098_account_manipulation.py
  backend/app/data/remediation_templates/t1199_trusted_relationship.py
  backend/app/data/remediation_templates/t1525_implant_internal_image.py
Due: check-type-hints

Add template scraping protection with rate limiting and auto-suspension
  backend/app/api/routes/admin/users.py
  backend/app/api/routes/recommendations.py
  backend/app/api/routes/techniques.py
  backend/app/services/template_access_monitor.py
Due: check-type-hints

Fix AuditEventType import error - use AuditLogAction
  backend/app/api/routes/admin/users.py
  backend/app/models/user.py
  backend/app/services/template_access_monitor.py
Due: check-type-hints

Add admin dashboard user suspension management UI
  frontend/src/components/admin/SuspendUserModal.test.tsx
  frontend/src/components/admin/SuspendUserModal.tsx
  frontend/src/pages/admin/AdminUsers.test.tsx
  frontend/src/pages/admin/AdminUsers.tsx
  frontend/src/test/mocks/handlers.ts
Due: eslint

feat: implement customer support system with frontend widget and automation scripts
  docs/support-system/google-apps-script/Code.gs
  docs/support-system/google-apps-script/Metrics.gs
  frontend/src/components/Layout.tsx
  frontend/src/components/support/SupportWidget.tsx
  frontend/src/services/supportApi.ts
Due: eslint

Fix support API key authentication - use HTTPBearer correctly
  backend/app/core/security.py
Due: check-type-hints

Fix support API route prefix - use /api/v1 for consistency
  backend/app/main.py
Due: check-type-hints

Remove Google Apps Script from git - contains API keys
  .gitignore
  docs/support-system/google-apps-script/Code.gs
  docs/support-system/google-apps-script/Metrics.gs
Due: none

Fix docs URL in support widget to be environment-relative
  frontend/src/components/support/SupportWidget.tsx
Due: eslint

Replace support email references with in-app support widget
  frontend/src/components/docs/DocsLayout.tsx
  frontend/src/components/support/SupportWidget.tsx
  frontend/src/pages/Support.tsx
  frontend/src/pages/docs/DocsIndex.tsx
Due: eslint

Fix support widget docs link to point to user documentation
  CLAUDE.md
  frontend/src/components/support/SupportWidget.tsx
Due: eslint

Fix support system: add user confirmation email and CRM logging
  backend/app/api/routes/support.py
  infrastructure/terraform/main.tf
  infrastructure/terraform/modules/backend/main.tf
  infrastructure/terraform/staging.tfvars
  infrastructure/terraform/variables.tf
Due: check-type-hints

Fix support emails to send from support@a13e.com
  backend/app/api/routes/support.py
Due: check-type-hints

fix: add support ticket acknowledgement email and update setup scripts
  backend/app/api/routes/support.py
  backend/scripts/setup_workspace.py
  docs/support-system/BACKLOG.md
Due: check-type-hints

Fix support email sending - cannot delegate to Google Groups
  backend/app/api/routes/support.py
  backend/app/services/google_workspace_service.py
Due: check-type-hints

Fix duplicate MITRE ATT&CK mappings in detection modal
  backend/app/api/routes/detections.py
  backend/app/mappers/pattern_mapper.py
Due: check-type-hints

Fix email From address to use support@a13e.com alias
  backend/app/api/routes/support.py
  backend/app/services/google_workspace_service.py
Due: check-type-hints

Fix support ticket robustness issues
  backend/app/api/routes/support.py
Due: check-type-hints

Fix mapping_count to show unique techniques only
  backend/app/api/routes/detections.py
Due: check-type-hints

Aggregate multi-region detections to eliminate duplicates
  frontend/src/components/InspectorAggregatedCard.tsx
  frontend/src/pages/Detections.tsx
Due: eslint

Fix support API returning wrong coverage score
  CLAUDE.md
  backend/app/api/routes/support.py
Due: check-type-hints

Fix open_gaps query to use GapStatus enum and include all unresolved statuses
  backend/app/api/routes/support.py
Due: check-type-hints

Add environment field to customer context for dynamic docs URL
  backend/app/api/routes/support.py
Due: check-type-hints

Make docs header auth-aware - show Dashboard for logged-in users
  frontend/src/components/docs/DocsLayout.tsx
Due: eslint

Fix SUPPORT_API_KEY persistence in ECS task definition
  infrastructure/terraform/modules/backend/main.tf
Due: none

Fix open_gaps to show uncovered techniques, not remediation tracker count
  backend/app/api/routes/support.py
Due: check-type-hints

Fix WIF credentials expiring and causing 503 support ticket errors
  backend/app/services/google_workspace_service.py
Due: check-type-hints

Add user-visible error messages in support widget
  frontend/src/components/support/SupportWidget.tsx
Due: eslint

Add security hardening for support ticket system
  backend/app/api/deps/rate_limit.py
  backend/app/api/routes/support.py
  backend/app/services/google_workspace_service.py
  backend/tests/integration/test_support.py
  backend/tests/unit/test_support_security.py
Due: check-type-hints

Add Customer CRM endpoint for support automation
  backend/app/api/routes/support.py
  docs/support-system/BACKLOG.md
Due: check-type-hints

Fix duplicate detections in Coverage page technique mappings
  backend/app/api/routes/coverage.py
Due: check-type-hints

Add welcome email automation with AI personalisation
  CLAUDE.md
  backend/alembic/versions/052_add_welcome_email.py
  backend/app/api/routes/support.py
  backend/app/models/user.py
Due: check-type-hints

Fix migration 052 down_revision reference
  backend/alembic/versions/052_add_welcome_email.py
Due: none

Fix PostgreSQL enum value addition for CI migrations
  backend/alembic/versions/015_update_billing_tiers.py
Due: none

Fix FSBP showing wrong control count on Dashboard
  backend/app/scanners/aws/securityhub_scanner.py
Due: check-type-hints

Fix inconsistent Security Posture card layout across standards
  frontend/src/components/SecurityPostureCard.tsx
Due: eslint

Fix data mismatch between Dashboard and Detections page
  frontend/src/components/SecurityHubAggregatedCard.tsx
Due: eslint

Fix critical security findings: Redis AUTH and admin token storage
  backend/app/api/routes/admin/auth.py
  frontend/src/stores/adminAuthStore.ts
  infrastructure/terraform/main.tf
  infrastructure/terraform/modules/cache/main.tf
Due: check-type-hints, eslint

Fix Redis AUTH token: use alphanumeric only
  infrastructure/terraform/main.tf
Due: none

Path conditions:
  check-type-hints: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/src/.*\.(ts|tsx)$
