Repository osuide/detection-coverage-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-type-hints, eslint

check-type-hints:
  name: check type hints (Python)
  entry: python backend/scripts/check_type_hints.py
  language: python
  pass_filenames: true

eslint:
  name: eslint (TypeScript/React linter)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

Align password complexity in Profile to match Signup (12+ chars)
  frontend/src/pages/Profile.tsx
Due: eslint

Update robots.txt with AI crawler blocks and crawl-delay
  marketing/public/index.html
  marketing/public/robots.txt
Due: none

Add X-Robots-Tag headers to Lambda@Edge for AI crawler blocking
  infrastructure/terraform/modules/security/main.tf
Due: none

Fix SSO login 401 error on refresh-session endpoint
  frontend/src/contexts/AuthContext.tsx
Due: eslint

Fix Terraform state isolation for multi-environment deployments
  .github/workflows/deploy.yml
Due: none

Fix Terraform count dependencies for fresh deployments
  infrastructure/terraform/modules/backend/main.tf
  infrastructure/terraform/modules/dns/main.tf
Due: none

Fix production deployment resource conflicts
  infrastructure/terraform/main.tf
  infrastructure/terraform/prod.tfvars
  infrastructure/terraform/variables.tf
Due: none

Add independent API/docs subdomain configuration for production
  infrastructure/terraform/main.tf
  infrastructure/terraform/modules/dns/main.tf
  infrastructure/terraform/prod.tfvars
  infrastructure/terraform/variables.tf
Due: none

Fix domain computation to use api_subdomain and docs_subdomain variables
  infrastructure/terraform/main.tf
Due: none

Fix frontend API_URL environment variable name
  .github/workflows/deploy.yml
Due: none

Move marketing site from staging to production
  infrastructure/terraform/modules/security/security-headers.zip
  infrastructure/terraform/prod.tfvars
  infrastructure/terraform/staging.tfvars
Due: none

Fix Terraform count dependency for marketing Route53 records
  infrastructure/terraform/modules/dns/main.tf
Due: none

Fix response type annotations for template download endpoints
  backend/app/api/routes/credentials.py
Due: check-type-hints

Enable Google Workspace WIF integration for production
  infrastructure/terraform/prod.tfvars
Due: none

Add redirect from /admin to /admin/login
  frontend/src/App.tsx
Due: eslint

Restrict prod WAF to Austin's IP during pre-launch testing
  infrastructure/terraform/prod.tfvars
Due: none

Enhance Coming Soon page with polished a13e design
  infrastructure/terraform/modules/security/main.tf
Due: none

Fix WAF IP restriction - minify Coming Soon HTML under 4KB
  infrastructure/terraform/modules/security/main.tf
Due: none

Fix security audit findings for production hardening
  backend/app/api/routes/admin/audit_logs.py
  backend/app/api/routes/admin/auth.py
  backend/app/api/routes/admin/organizations.py
  backend/app/api/routes/admin/users.py
  backend/app/api/routes/admin/webauthn.py
  backend/app/api/routes/billing.py
  backend/app/api/routes/cognito.py
  backend/app/api/routes/detections.py
  backend/app/api/routes/github_oauth.py
  backend/app/api/routes/mappings.py
  backend/app/api/routes/org_security.py
  backend/app/api/routes/webauthn.py
  backend/app/core/cache.py
  backend/app/core/sql_utils.py
  backend/app/scanners/aws/org_guardduty_scanner.py
  backend/app/services/webauthn_service.py
  infrastructure/terraform/modules/backend/main.tf
  infrastructure/terraform/modules/ecr/main.tf
Due: check-type-hints

Fix ECR immutable tag issue in deploy workflow
  .github/workflows/deploy.yml
Due: none

Fix Python scoping bug in OAuth fail-closed code
  backend/app/api/routes/cognito.py
  backend/app/api/routes/github_oauth.py
Due: check-type-hints

Fix SVG gradient ID collisions in A13ELogo component
  frontend/src/components/A13ELogo.tsx
Due: eslint

Add loading state to Coverage page Refresh button
  frontend/src/pages/Coverage.tsx
Due: eslint

Fix Coverage page Recalculate button to actually recalculate
  frontend/src/pages/Coverage.tsx
Due: eslint

Implement SEO optimisations for production marketing site
  .gitignore
  marketing/public/index.html
  marketing/public/robots.txt
  marketing/public/sitemap.xml
Due: none

Allow AI crawlers in X-Robots-Tag headers for SEO
  infrastructure/terraform/modules/security/main.tf
Due: none

Update WAF: Production public, staging IP-restricted
  infrastructure/terraform/modules/security/main.tf
  infrastructure/terraform/prod.tfvars
  infrastructure/terraform/staging.tfvars
Due: none

Document WAFv2 IP set deletion gotcha and env switching
  CLAUDE.md
Due: none

Add SEO sitemaps with conservative security-focused indexing
  frontend/public/robots.txt
  frontend/public/sitemap.xml
  marketing/public/robots.txt
  marketing/public/sitemap-index.xml
Due: none

Fix incorrect Free tier PDF export claim
  frontend/public/docs/billing-subscription.md
  frontend/src/pages/Landing.tsx
Due: eslint

Fix CSP violations on marketing site
  marketing/public/index.html
  marketing/public/js/env-links.js
Due: none

Prevent 403 console error on Organizations page
  frontend/src/pages/Organizations.tsx
Due: eslint

Add comprehensive tier enforcement for premium features
  backend/app/api/routes/analytics.py
  backend/app/api/routes/api_keys.py
  backend/app/api/routes/code_analysis.py
  backend/app/api/routes/evaluation_history.py
  frontend/src/pages/APIKeys.tsx
  frontend/src/pages/ComplianceHistory.tsx
  frontend/src/services/billingApi.ts
Due: check-type-hints, eslint

Fix Recharts ResponsiveContainer negative dimensions error
  frontend/src/components/evaluation-history/ComplianceTrendChart.tsx
Due: eslint

Fix Recharts chart dimensions error with fixed height
  frontend/src/components/evaluation-history/ComplianceTrendChart.tsx
Due: eslint

Add error handling and toast notifications to alert acknowledgement
  frontend/src/components/evaluation-history/ComplianceAlertsList.tsx
Due: eslint

Standardise Stripe billing to Individual/Pro tiers
  backend/app/api/routes/billing.py
  backend/app/core/billing_config.py
  backend/app/core/config.py
  backend/app/services/stripe_service.py
  infrastructure/terraform/modules/backend/main.tf
  infrastructure/terraform/prod.tfvars
  infrastructure/terraform/staging.tfvars
  infrastructure/terraform/variables.tf
Due: check-type-hints

Add unacknowledge (reopen) functionality for compliance alerts
  backend/app/api/routes/evaluation_history.py
  backend/app/services/evaluation_history_service.py
  frontend/src/components/evaluation-history/ComplianceAlertsList.tsx
  frontend/src/services/api.ts
Due: check-type-hints, eslint

Fix backend deployment to push :latest tag for ECS
  .github/workflows/deploy.yml
Due: none

Fix ECS deployment to use commit SHA image tags
  .github/workflows/deploy.yml
Due: none

Path conditions:
  check-type-hints: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/src/.*\.(ts|tsx)$
