Repository osuide/detection-coverage-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-type-hints, eslint

check-type-hints:
  name: check type hints (Python)
  entry: python backend/scripts/check_type_hints.py
  language: python
  pass_filenames: true

eslint:
  name: eslint (TypeScript/React linter)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

Fix mypy: _handle_api_error returns NoReturn (always raises)
  backend/app/services/google_workspace_service.py
Due: check-type-hints

Fix telemetry uptime using container start time instead of Prometheus
  backend/app/scripts/telemetry_bridge.py
Due: check-type-hints

Add uptime debug logging to telemetry bridge
  backend/app/scripts/telemetry_bridge.py
Due: check-type-hints

Fix timestamp serialization in telemetry bridge
  backend/app/scripts/telemetry_bridge.py
Due: check-type-hints

Reduce Uvicorn workers to 1 to prevent duplicate scheduler jobs
  infrastructure/docker/Dockerfile.backend
Due: none

Add Azure Workload Identity Federation service
  backend/app/services/azure_wif_service.py
Due: check-type-hints

Add Azure database schema support
  backend/alembic/versions/059_add_azure_support.py
  backend/app/models/cloud_account.py
  backend/app/models/detection.py
Due: check-type-hints

Add Azure DefenderScanner
  backend/app/scanners/azure/__init__.py
Due: check-type-hints

Add Azure PolicyScanner
  backend/app/scanners/azure/policy_scanner.py
Due: check-type-hints

Integrate Azure scanners into ScanService
  backend/app/services/scan_service.py
Due: check-type-hints

Add comprehensive Azure Defender MITRE ATT&CK mappings
  backend/app/mappers/azure_defender_mappings.py
Due: check-type-hints

Add comprehensive Azure Policy MITRE ATT&CK mappings
  backend/app/mappers/azure_policy_mappings.py
Due: check-type-hints

feat(azure): integrate Azure MITRE mappings into PatternMapper
  backend/app/mappers/pattern_mapper.py
Due: check-type-hints

feat(azure): add Azure WIF schemas and API support
  backend/app/api/routes/accounts.py
  backend/app/schemas/cloud_account.py
Due: check-type-hints

feat(azure): add minimal Azure type support to frontend
  frontend/src/pages/Accounts.tsx
  frontend/src/services/api.ts
Due: eslint

test(azure): add comprehensive Azure integration tests
  backend/tests/integration/test_azure_integration.py
Due: none

fix(azure): resolve CI/CD blockers
  backend/alembic/versions/059_add_azure_support.py
  backend/app/scanners/azure/defender_scanner.py
  frontend/src/components/AccountSelector.tsx
  frontend/src/stores/accountStore.ts
Due: check-type-hints, eslint

Add Azure SDK dependencies and fix RegionSelector types
  backend/requirements.txt
  frontend/src/components/RegionSelector.tsx
Due: eslint

Fix Azure SDK version and API provider types
  backend/requirements.txt
  frontend/src/services/api.ts
Due: eslint

Fix remaining Azure provider types across frontend and backend
  backend/requirements.txt
  frontend/src/components/CredentialWizard.tsx
  frontend/src/pages/Accounts.tsx
  frontend/src/pages/ConnectOrganization.tsx
  frontend/src/pages/TechniqueDetail.tsx
  frontend/src/services/organizationsApi.ts
Due: eslint

Fix azure-mgmt-policyinsights to use stable version 1.0.0
  backend/requirements.txt
Due: none

Adjust Azure MITRE coverage test expectations for MVP
  backend/tests/integration/test_azure_integration.py
Due: none

feat: Azure integration with Workload Identity Federation (#58)
  backend/alembic/versions/059_add_azure_support.py
  backend/app/api/routes/accounts.py
  backend/app/mappers/azure_defender_mappings.py
  backend/app/mappers/azure_policy_mappings.py
  backend/app/mappers/pattern_mapper.py
  backend/app/models/cloud_account.py
  backend/app/models/detection.py
  backend/app/scanners/azure/__init__.py
  backend/app/scanners/azure/defender_scanner.py
  backend/app/scanners/azure/policy_scanner.py
  backend/app/schemas/cloud_account.py
  backend/app/services/azure_wif_service.py
  backend/app/services/scan_service.py
  backend/requirements.txt
  backend/tests/integration/test_azure_integration.py
  frontend/src/components/AccountSelector.tsx
  frontend/src/components/CredentialWizard.tsx
  frontend/src/components/RegionSelector.tsx
  frontend/src/pages/Accounts.tsx
  frontend/src/pages/ConnectOrganization.tsx
  frontend/src/pages/TechniqueDetail.tsx
  frontend/src/services/api.ts
  frontend/src/services/organizationsApi.ts
  frontend/src/stores/accountStore.ts
Due: check-type-hints, eslint

Add missing migrations 057 and 058 for Azure integration
  backend/alembic/versions/057_add_detection_cascade.py
  backend/alembic/versions/058_add_detection_unique_index.py
Due: none

Fix Azure account creation form missing WIF configuration fields
  frontend/src/pages/Accounts.tsx
Due: eslint

Add Azure WIF setup script for customer onboarding
  backend/app/templates/azure_wif_setup.sh
Due: none

Improve error feedback for cloud account limit reached
  backend/app/api/routes/accounts.py
  frontend/src/pages/Accounts.tsx
Due: check-type-hints, eslint

Add Azure required permissions to credential setup wizard
  backend/app/api/routes/credentials.py
  backend/app/models/cloud_credential.py
Due: check-type-hints

Fix Azure Connect Account wizard showing GCP instructions
  backend/app/api/routes/credentials.py
  frontend/src/components/CredentialWizard.tsx
  frontend/src/pages/Accounts.tsx
  frontend/src/services/api.ts
Due: check-type-hints, eslint

Add azure_wif_setup.sh to template allowlist
  backend/app/api/routes/credentials.py
Due: check-type-hints

Fix Azure wizard curl command to use API base URL
  frontend/src/components/CredentialWizard.tsx
Due: eslint

Allow public access to credential template downloads via WAF
  backend/app/api/routes/credentials.py
  infrastructure/terraform/modules/backend/main.tf
Due: check-type-hints

Revert "Allow public access to credential template downloads via WAF"
  backend/app/api/routes/credentials.py
  infrastructure/terraform/modules/backend/main.tf
Due: check-type-hints

Reapply "Allow public access to credential template downloads via WAF"
  backend/app/api/routes/credentials.py
  infrastructure/terraform/modules/backend/main.tf
Due: check-type-hints

Add Azure WIF credential validation
  backend/app/api/routes/credentials.py
  backend/app/services/azure_wif_service.py
  backend/requirements.txt
Due: check-type-hints

Fix GET credentials endpoint for Azure accounts
  backend/app/api/routes/credentials.py
Due: check-type-hints

fix: Use async Azure SDK clients for Azure scanning
  backend/app/scanners/azure/defender_scanner.py
  backend/app/scanners/azure/policy_scanner.py
Due: check-type-hints

feat: Azure WIF authentication via Cognito Identity Pool
  backend/app/api/routes/credentials.py
  backend/app/core/config.py
  backend/app/scanners/azure/defender_scanner.py
  backend/app/services/azure_wif_service.py
  backend/app/templates/azure_wif_setup.sh
  backend/tests/unit/test_azure_wif_service.py
  frontend/src/components/CredentialWizard.tsx
  frontend/src/services/api.ts
  infrastructure/terraform/main.tf
  infrastructure/terraform/modules/backend/main.tf
  infrastructure/terraform/modules/cognito/main.tf
  infrastructure/terraform/modules/cognito/outputs.tf
Due: check-type-hints, eslint

docs: Strengthen deployment guidelines in CLAUDE.md
  CLAUDE.md
Due: none

Fix Azure WIF scan: pass cloud_account_id to get_azure_credential
  backend/app/services/scan_service.py
Due: check-type-hints

Path conditions:
  check-type-hints: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/src/.*\.(ts|tsx)$
