Repository osuide/detection-coverage-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-type-hints, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for A13E Detection Coverage Validator
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: black (Python formatter)
        files: ^backend/
        language_version: python3

  # Python linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        name: ruff (Python linter)
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

  # Check for untyped functions (all functions must have return type annotations)
  - repo: local
    hooks:
      - id: check-type-hints
        name: check type hints (Python)
        entry: python backend/scripts/check_type_hints.py
        language: python
        files: ^backend/app/.*\.py$
        pass_filenames: true

  # Terraform formatting
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt
        name: terraform fmt
        files: ^infrastructure/terraform/

  # Frontend linting with ESLint
  - repo: local
    hooks:
      - id: eslint
        name: eslint (TypeScript/React linter)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(frontend/public/docs/|.*\.md)$
      - id: end-of-file-fixer
        exclude: ^(frontend/public/docs/|.*\.md)$
      - id: check-yaml
        args: [--unsafe]
        exclude: ^backend/(app/)?templates/.*\.yaml$
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, production]

Upgrade React 18.3 to React 19.2
  frontend/package-lock.json
  frontend/package.json
Due: none

Upgrade recharts 2.x to 3.6
  frontend/package-lock.json
  frontend/package.json
Due: none

Add public API documentation site infrastructure
  .github/workflows/docs.yml
  .gitignore
  backend/scripts/generate_public_openapi.py
  backend/scripts/verify_openapi_security.py
  docs/404.html
  docs/examples/curl/examples.sh
  docs/examples/javascript/trigger_scan.js
  docs/examples/python/requirements.txt
  docs/examples/python/trigger_scan.py
  docs/examples/t1078_offhours_console_login.tf
  docs/guides/authentication.md
  docs/guides/quickstart.md
  docs/guides/rate-limiting.md
  docs/guides/webhooks.md
  docs/redocly.yaml
  infrastructure/terraform/main.tf
  infrastructure/terraform/modules/dns/main.tf
  infrastructure/terraform/modules/docs/main.tf
  infrastructure/terraform/outputs.tf
  infrastructure/terraform/staging.tfvars
  infrastructure/terraform/variables.tf
Due: none

Fix docs workflow SECRET_KEY length validation
  .github/workflows/docs.yml
Due: none

Fix docs workflow to use staging environment
  .github/workflows/docs.yml
Due: none

Fix Redocly config format for current CLI version
  docs/redocly.yaml
Due: none

Add Terraform setup to docs deploy job
  .github/workflows/docs.yml
Due: none

Skip docs verification when infrastructure not deployed
  .github/workflows/docs.yml
Due: none

Fix docs site: add Redocly CDN to CSP, convert guides to HTML
  .github/workflows/docs.yml
  infrastructure/terraform/modules/security/main.tf
Due: none

Fix docs: install pandoc, add fonts to CSP
  .github/workflows/docs.yml
  infrastructure/terraform/modules/security/main.tf
Due: none

Add Terraform OAuth validation checks to prevent SSO destruction
  .gitignore
  infrastructure/terraform/.env.terraform.example
  infrastructure/terraform/main.tf
  infrastructure/terraform/variables.tf
Due: none

Add Terraform OAuth requirements to CLAUDE.md
  .gitignore
  CLAUDE.md
Due: none

Remove Sign in link from docs page header
  frontend/src/components/docs/DocsLayout.tsx
Due: eslint

Restrict API docs to Public API endpoints only
  backend/scripts/generate_public_openapi.py
  docs/redocly.yaml
Due: none

Fix docs workflow: handle WAF blocking GitHub Actions IPs
  .github/workflows/docs.yml
Due: none

Fix API docs rate limiting to match actual limits
  backend/scripts/generate_public_openapi.py
Due: none

Fix API access: block free tier, correct rate limits
  backend/app/api/v1/public/auth.py
  backend/app/core/rate_limiter.py
  backend/scripts/generate_public_openapi.py
  frontend/public/docs/api-keys.md
Due: check-type-hints

Fix contact URL in API docs to use app.a13e.com
  backend/scripts/generate_public_openapi.py
Due: none

Fix terms URL to use app.a13e.com/terms
  backend/scripts/generate_public_openapi.py
Due: none

Update contact URL to app.a13e.com/support
  backend/scripts/generate_public_openapi.py
Due: none

Add /terms and /support public routes
  frontend/src/App.tsx
  frontend/src/pages/Support.tsx
  frontend/src/pages/Terms.tsx
Due: eslint

Replace tfsec with Trivy for Terraform IaC scanning
  .github/workflows/security.yml
Due: none

Replace fake testimonials with genuine security-first messaging
  frontend/src/pages/Landing.tsx
Due: eslint

Add comprehensive Terms of Service and Privacy Policy
  frontend/src/App.tsx
  frontend/src/pages/Privacy.tsx
  frontend/src/pages/Signup.tsx
  frontend/src/pages/Terms.tsx
Due: eslint

Add Security and Compliance pages with UK SaaS best practices
  frontend/src/App.tsx
  frontend/src/pages/ComplianceInfo.tsx
  frontend/src/pages/Privacy.tsx
  frontend/src/pages/Security.tsx
  frontend/src/pages/Support.tsx
  frontend/src/pages/Terms.tsx
Due: eslint

Fix landing page footer links to legal pages
  frontend/src/pages/Landing.tsx
Due: eslint

Add ScrollToTop component to reset scroll position on navigation
  frontend/src/App.tsx
  frontend/src/components/ScrollToTop.tsx
Due: eslint

Add Frontend section to CLAUDE.md with lessons learned
  CLAUDE.md
Due: none

Update footer to include OSUIDE INC Company attribution
  frontend/src/pages/Landing.tsx
Due: eslint

Add OSUIDE INC Company attribution to all page footers
  frontend/src/pages/ComplianceInfo.tsx
  frontend/src/pages/Privacy.tsx
  frontend/src/pages/Security.tsx
  frontend/src/pages/Support.tsx
  frontend/src/pages/Terms.tsx
Due: eslint

Remove 'Limited' from footer copyright text
  frontend/src/pages/ComplianceInfo.tsx
  frontend/src/pages/Privacy.tsx
  frontend/src/pages/Security.tsx
  frontend/src/pages/Support.tsx
  frontend/src/pages/Terms.tsx
Due: eslint

Add API documentation links to API Keys page
  frontend/src/pages/APIKeys.tsx
Due: eslint

Add dark theme to ReDoc API documentation
  backend/app/main.py
Due: check-type-hints

Fix CSP to allow ReDoc API documentation to render
  backend/app/middleware/security_headers.py
Due: check-type-hints

Harden CSP: self-host ReDoc, remove unused CDN dependencies
  backend/app/main.py
  backend/app/middleware/security_headers.py
  backend/app/static/docs/redoc.standalone.js
  infrastructure/terraform/modules/security/main.tf
  infrastructure/terraform/modules/security/security-headers.zip
Due: check-type-hints

Fix /redoc to serve Public API spec only
  backend/app/main.py
Due: check-type-hints

Fix /public/openapi.json 404 and add integration tests
  backend/app/main.py
  backend/app/static/docs/public-openapi.json
  backend/scripts/generate_public_openapi.py
  backend/tests/integration/test_docs.py
Due: check-type-hints

Fix 3 CVEs and enable HIBP fail-closed mode
  backend/app/api/routes/admin/mitre.py
  backend/app/core/config.py
  backend/requirements.txt
Due: check-type-hints
