Repository osuide/detection-coverage-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-type-hints, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for A13E Detection Coverage Validator
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: black (Python formatter)
        files: ^backend/
        language_version: python3

  # Python linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        name: ruff (Python linter)
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

  # Check for untyped functions (all functions must have return type annotations)
  - repo: local
    hooks:
      - id: check-type-hints
        name: check type hints (Python)
        entry: python backend/scripts/check_type_hints.py
        language: python
        files: ^backend/app/.*\.py$
        pass_filenames: true

  # Terraform formatting
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt
        name: terraform fmt
        files: ^infrastructure/terraform/

  # Frontend linting with ESLint
  - repo: local
    hooks:
      - id: eslint
        name: eslint (TypeScript/React linter)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(frontend/public/docs/|.*\.md)$
      - id: end-of-file-fixer
        exclude: ^(frontend/public/docs/|.*\.md)$
      - id: check-yaml
        args: [--unsafe]
        exclude: ^backend/(app/)?templates/.*\.yaml$
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, production]

Fix TypeScript error: refreshToken → csrfToken in AdminUsers test
  frontend/src/pages/admin/AdminUsers.test.tsx
Due: eslint

Security: Fix HIGH priority findings from security audit
  frontend/src/pages/AuthCallback.tsx
  frontend/src/pages/Login.tsx
  frontend/src/stores/oauthStore.test.ts
  frontend/src/stores/oauthStore.ts
  infrastructure/terraform/modules/backend/main.tf
  infrastructure/terraform/modules/cache/main.tf
  infrastructure/terraform/modules/database/main.tf
Due: eslint

Security hardening: Medium priority fixes (P2)
  backend/app/core/config.py
  infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/frontend/main.tf
  infrastructure/terraform/modules/security/main.tf
Due: check-type-hints

Fix MFA test to check httpOnly cookie instead of response body
  backend/tests/integration/test_mfa.py
Due: none

Fix MFA test cookie name to dcv_admin_refresh_token
  backend/tests/integration/test_mfa.py
Due: none

Fix CRITICAL: IDOR vulnerability in credentials endpoint (CWE-639)
  backend/app/api/routes/credentials.py
  backend/app/core/security.py
  backend/tests/integration/test_credentials_acl.py
  backend/tests/unit/test_security_acl.py
Due: check-type-hints

Fix HIGH severity security vulnerabilities
  backend/app/models/user.py
  backend/tests/unit/test_mfa_encryption_security.py
  infrastructure/terraform/.terraform.lock.hcl
  infrastructure/terraform/main.tf
  infrastructure/terraform/modules/backend/main.tf
  infrastructure/terraform/modules/cloudtrail/main.tf
Due: check-type-hints

Fix MEDIUM severity security vulnerabilities
  backend/app/api/routes/auth.py
  backend/app/api/routes/cognito.py
  backend/app/api/routes/github_oauth.py
  backend/app/core/cache.py
  backend/app/core/security.py
  backend/app/mappers/nlp_mapper.py
  backend/app/services/auth_service.py
  frontend/src/components/SocialLoginButtons.tsx
Due: check-type-hints, eslint

Fix CloudTrail event_selector conflict with advanced_event_selector
  infrastructure/terraform/modules/cloudtrail/main.tf
Due: none

Add enable_cloudtrail variable and fix lifecycle configuration
  infrastructure/terraform/main.tf
  infrastructure/terraform/modules/cloudtrail/main.tf
  infrastructure/terraform/variables.tf
Due: none

Enable CloudTrail audit logging for staging
  infrastructure/terraform/staging.tfvars
Due: none

Enable CloudTrail audit logging for production
  infrastructure/terraform/prod.tfvars
Due: none

Fix CloudTrail lifecycle and event selector issues
  infrastructure/terraform/modules/cloudtrail/main.tf
Due: none

Fix XSS vulnerability in team invite emails (CWE-79)
  backend/app/services/email_service.py
Due: check-type-hints

Fix OAuth "session expired" error by using sessionStorage
  frontend/src/stores/oauthStore.test.ts
  frontend/src/stores/oauthStore.ts
Due: eslint

Add comprehensive mobile responsiveness to app pages
  frontend/src/components/InspectorAggregatedCard.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/MitreHeatmap.tsx
  frontend/src/components/SecurityHubAggregatedCard.tsx
  frontend/src/components/TacticHeatmap.tsx
  frontend/src/pages/Coverage.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Detections.tsx
  frontend/src/pages/Gaps.tsx
Due: eslint

Add region coverage API support for Detections page
  backend/app/api/routes/detections.py
  backend/app/schemas/detection.py
  frontend/src/services/api.ts
Due: check-type-hints, eslint

Fix mobile stats display to match desktop data
  frontend/src/components/InspectorAggregatedCard.tsx
  frontend/src/components/SecurityHubAggregatedCard.tsx
Due: eslint

Add AWS Managed badge and filter to Detections page
  backend/app/scanners/aws/cloudwatch_scanner.py
  backend/app/scanners/aws/eventbridge_scanner.py
  frontend/src/pages/Detections.tsx
  frontend/src/services/api.ts
Due: check-type-hints, eslint

Fix admin page stuck on loading spinner
  frontend/src/stores/adminAuthStore.ts
  frontend/src/stores/authStore.ts
Due: eslint

Fix CWE-601 open redirect vulnerability in OAuth flows (P0)
  backend/app/api/routes/cognito.py
  backend/app/api/routes/github_oauth.py
  backend/tests/unit/test_github_oauth_redirect_validation.py
Due: check-type-hints

Fix OAuth redirect validation tests to use proper mocking
  backend/tests/unit/test_github_oauth_redirect_validation.py
Due: none

Add professional report design system with 6th compliance report
  backend/app/api/routes/reports.py
  backend/app/services/report_design.py
  backend/app/services/report_service.py
  frontend/src/pages/Reports.tsx
  frontend/src/services/reportsApi.ts
Due: check-type-hints, eslint

Fix BodyText style conflict in report design
  backend/app/services/report_design.py
Due: check-type-hints

Add missing type annotations for mypy compliance
  backend/app/services/report_design.py
  backend/app/services/report_service.py
Due: check-type-hints

Fix coverage CSV to show tactic names instead of UUIDs
  backend/app/services/report_service.py
Due: check-type-hints

Fix is_managed not updating for existing detections
  backend/app/services/scan_service.py
Due: check-type-hints

Restrict AWS Managed badge to only DO-NOT-DELETE- rules
  backend/app/scanners/aws/cloudwatch_scanner.py
  backend/app/scanners/aws/config_scanner.py
  backend/app/scanners/aws/eventbridge_scanner.py
  backend/app/scanners/aws/guardduty_scanner.py
  backend/app/scanners/aws/inspector_scanner.py
  backend/app/scanners/aws/macie_scanner.py
  backend/app/scanners/aws/org_guardduty_scanner.py
  backend/app/scanners/aws/securityhub_scanner.py
  backend/app/scanners/gcp/org_chronicle_scanner.py
  backend/app/scanners/gcp/org_scc_scanner.py
  backend/app/scanners/gcp/scc_findings_scanner.py
  backend/app/scanners/gcp/security_command_center_scanner.py
Due: check-type-hints

Add AWS Managed badge to RegionalAggregatedCard
  frontend/src/components/InspectorAggregatedCard.tsx
Due: eslint

Remove Detection Details from Full Report PDF
  backend/app/api/routes/reports.py
Due: check-type-hints

Replace ASCII diagram with Mermaid in GCP connection docs
  frontend/public/docs/connecting-gcp-accounts.md
  frontend/public/docs/images/wif-auth-flow.mmd
  frontend/public/docs/images/wif-auth-flow.png
Due: none

Add max_length=72 to password schemas for bcrypt 5.0 compatibility
  backend/app/schemas/auth.py
Due: check-type-hints

Add security pins for transitive dependencies (Snyk fixes)
  backend/requirements.txt
Due: none

Fix WIF Provider ID: aws → a13e-aws in docs and Terraform
  frontend/public/docs/connecting-gcp-accounts.md
  infrastructure/terraform/modules/gcp-wif-customer/main.tf
Due: none

Add PGP key and update security.txt for vulnerability reporting
  frontend/public/.well-known/pgp-key.txt
  frontend/public/.well-known/security.txt
Due: none

Add security policy and hall of thanks documentation
  frontend/public/docs/security-policy.md
  frontend/public/docs/security-thanks.md
Due: none

Add marketing landing page for a13e.com
  infrastructure/terraform/modules/marketing/main.tf
  marketing/README.md
  marketing/public/.well-known/pgp-key.txt
  marketing/public/.well-known/security.txt
  marketing/public/a13e-icon.svg
  marketing/public/index.html
  marketing/public/robots.txt
  marketing/public/sitemap.xml
Due: none

Wire up marketing site Terraform infrastructure
  infrastructure/terraform/main.tf
  infrastructure/terraform/modules/dns/main.tf
  infrastructure/terraform/outputs.tf
  infrastructure/terraform/staging.tfvars
  infrastructure/terraform/variables.tf
Due: none

Add security-policy and security-thanks pages, fix pricing grid
  frontend/src/pages/docs/DocsPage.tsx
  frontend/src/pages/docs/docs-content.ts
  marketing/public/index.html
Due: eslint

Add environment-aware link rewriting to marketing site
  marketing/public/index.html
Due: none
