Repository osuide/detection-coverage-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-type-hints, eslint

check-type-hints:
  name: check type hints (Python)
  entry: python backend/scripts/check_type_hints.py
  language: python
  pass_filenames: true

eslint:
  name: eslint (TypeScript/React linter)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

Fix alert acknowledgement filter not working correctly
  backend/app/api/routes/evaluation_history.py
  frontend/src/components/evaluation-history/ComplianceAlertsList.tsx
Due: check-type-hints, eslint

Fix CVE-2026-21441: Upgrade urllib3 to 2.6.3
  backend/requirements.txt
Due: none

Document that production deployment requires manual trigger
  CLAUDE.md
Due: none

Add auto-send validation endpoint for guardrails hardening
  backend/app/api/routes/support.py
Due: check-type-hints

Block FREE_SCAN tier in auto-send validation
  backend/app/api/routes/support.py
Due: check-type-hints

Implement code splitting to reduce initial bundle size
  frontend/src/App.tsx
Due: eslint

Add proper cache headers for frontend assets
  .github/workflows/deploy.yml
Due: none

Fix react-router security vulnerabilities (CVE-2024-xxxx)
  frontend/package-lock.json
  frontend/package.json
Due: none

Add Using the Dashboards documentation page
  frontend/public/docs/images/dashboards/compliance-overview.png
  frontend/public/docs/images/dashboards/coverage-heatmap.png
  frontend/public/docs/images/dashboards/dashboard-overview.png
  frontend/public/docs/images/dashboards/gaps-expanded.png
  frontend/public/docs/using-dashboards.md
  frontend/src/components/docs/DocsLayout.tsx
  frontend/src/pages/docs/DocsPage.tsx
  frontend/src/pages/docs/docs-content.ts
Due: eslint

Fix Using the Dashboards page and update screenshots
  frontend/public/docs/images/dashboards/compliance-overview.png
  frontend/public/docs/images/dashboards/coverage-heatmap.png
  frontend/public/docs/images/dashboards/dashboard-overview.png
  frontend/public/docs/images/dashboards/gaps-expanded.png
  frontend/src/pages/docs/DocsPage.tsx
Due: eslint

Fix critical CloudFront caching bypass for IP-based WAF restrictions
  infrastructure/terraform/main.tf
  infrastructure/terraform/modules/docs/main.tf
  infrastructure/terraform/modules/frontend/main.tf
  infrastructure/terraform/modules/marketing/main.tf
Due: none

Apply IP restriction to staging API to protect /docs endpoint
  infrastructure/terraform/main.tf
Due: none

Fix ECS task role to allow A13E-ReadOnly scanner roles
  infrastructure/terraform/modules/backend/main.tf
Due: none

Add customer scanner role naming conventions to CLAUDE.md
  CLAUDE.md
Due: none

Compact CLAUDE.md from 405 to 149 lines
  CLAUDE.md
Due: none

Fix CLAUDE.md infrastructure section for staging vs prod
  CLAUDE.md
Due: none

Fix Redis TTL: scan status is 60sec not 30sec
  CLAUDE.md
Due: none

Add WAF rule to allow /health endpoint for deployment health checks
  infrastructure/terraform/modules/backend/main.tf
Due: none

Add warning callout for CloudFormation ExternalId parameter
  frontend/public/docs/connecting-aws-accounts.md
Due: none

Add screenshots to getting-started, connecting-aws, and running-scans docs
  frontend/public/docs/connecting-aws-accounts.md
  frontend/public/docs/getting-started.md
  frontend/public/docs/images/dashboards/aws-account-connected.png
  frontend/public/docs/images/dashboards/aws-cloudformation-launch.png
  frontend/public/docs/images/dashboards/getting-started-dashboard.png
  frontend/public/docs/images/dashboards/scan-results.png
  frontend/public/docs/running-scans.md
Due: none

Add Terraform check block for Stripe credentials
  CLAUDE.md
  infrastructure/terraform/main.tf
Due: none

feat(telemetry): Add Workspace Telemetry Bridge for Prod Dashboard
  backend/app/core/config.py
  backend/app/main.py
  backend/app/scripts/telemetry_bridge.py
  backend/app/services/scheduler_service.py
  backend/requirements.txt
  backend/tests/unit/test_telemetry_integration.py
  infrastructure/terraform/modules/backend/main.tf
  infrastructure/terraform/variables.tf
Due: check-type-hints

chore(ci): Pass TELEMETRY_SHEET_ID secret to Terraform
  .github/workflows/deploy.yml
  backend/app/scripts/telemetry_bridge.py
  backend/tests/unit/test_telemetry_integration.py
Due: check-type-hints

fix(telemetry): Wire telemetry_sheet_id to backend module
  infrastructure/terraform/main.tf
Due: none

fix(scheduler): Add singleton export and fix async blocking bug
  backend/app/scripts/telemetry_bridge.py
  backend/app/services/scheduler_service.py
Due: check-type-hints

Fix mathematical errors in Understanding Coverage documentation
  frontend/public/docs/understanding-coverage.md
Due: none

Fix coverage example math notation in documentation
  frontend/public/docs/understanding-coverage.md
Due: none

feat(ci): Add pre-flight check to block prod deploy without Stripe secrets
  .github/workflows/deploy.yml
Due: none

chore(infra): Scale production to 1 ECS task
  infrastructure/terraform/modules/backend/main.tf
Due: none

feat(ci): Add API_URL validation to prevent environment mismatch
  .github/workflows/deploy.yml
Due: none

Rewrite telemetry bridge with accurate metrics parsing
  backend/app/scripts/telemetry_bridge.py
Due: check-type-hints

Fix timestamp format for Google Sheets datetime recognition
  backend/app/scripts/telemetry_bridge.py
Due: check-type-hints

Fix request count accumulation bug in telemetry bridge
  backend/app/scripts/telemetry_bridge.py
Due: check-type-hints

Add SUPPORT_API_KEY to deploy workflow
  .github/workflows/deploy.yml
Due: none

Document GitHub secrets in CLAUDE.md
  CLAUDE.md
Due: none

Remove ignore_changes from support_api_key secret
  infrastructure/terraform/modules/backend/main.tf
Due: none

Change timestamp format to ISO-like string for Looker Studio
  backend/app/scripts/telemetry_bridge.py
Due: check-type-hints

Add INITIAL_ADMIN_PASSWORD for admin portal auto-seeding
  .github/workflows/deploy.yml
  CLAUDE.md
  infrastructure/terraform/main.tf
  infrastructure/terraform/modules/backend/main.tf
  infrastructure/terraform/variables.tf
Due: none

Add tiered effort estimates to remediation templates
  backend/app/analyzers/gap_analyzer.py
  backend/app/api/routes/coverage.py
  backend/app/api/routes/techniques.py
  backend/app/data/remediation_templates/template_loader.py
  backend/app/schemas/coverage.py
  frontend/src/pages/Gaps.tsx
  frontend/src/pages/TechniqueDetail.tsx
  frontend/src/services/api.ts
Due: check-type-hints, eslint

Add contextual note to Alert Configuration section
  frontend/src/components/StrategyDetailModal.tsx
Due: eslint

Path conditions:
  check-type-hints: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/src/.*\.(ts|tsx)$
