Repository osuide/detection-coverage-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-type-hints, eslint

check-type-hints:
  name: check type hints (Python)
  entry: python backend/scripts/check_type_hints.py
  language: python
  pass_filenames: true

eslint:
  name: eslint (TypeScript/React linter)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

Fix remaining 3 GCP blocking calls found in re-audit
  CODE_AUDIT_REPORT_2025-12-30.md
  backend/app/scanners/gcp/org_policy_scanner.py
  backend/app/scanners/gcp/scc_findings_scanner.py
Due: check-type-hints

Fix login 500 error - add defaults for nullable UserResponse fields
  backend/app/schemas/auth.py
Due: check-type-hints

Fix login 500 error - add defaults for nullable OrganizationResponse fields
  backend/app/schemas/auth.py
Due: check-type-hints

Fix login 500 - add default for email_verified field
  backend/app/schemas/auth.py
Due: check-type-hints

Fix login 500 - use validators to handle NULL database values
  backend/app/schemas/auth.py
Due: check-type-hints

Add debug logging for login validation failures
  backend/alembic/versions/050_add_gcp_wif_fields.py
  backend/app/api/routes/auth.py
  backend/app/api/routes/credentials.py
  backend/app/models/cloud_credential.py
  backend/app/scanners/gcp/base.py
  backend/app/services/gcp_wif_service.py
  backend/app/services/scan_service.py
  infrastructure/terraform/modules/gcp-wif-customer/README.md
  infrastructure/terraform/modules/gcp-wif-customer/main.tf
Due: check-type-hints

Fix migration down_revision reference
  backend/alembic/versions/050_add_gcp_wif_fields.py
  backend/app/api/routes/credentials.py
  backend/app/templates/gcp_wif_setup.sh
Due: check-type-hints

Remove debug logging from login endpoint
  backend/app/api/routes/auth.py
Due: check-type-hints

Fix blank Profile page for Individual tier users
  frontend/src/pages/Organizations.tsx
  frontend/src/services/authApi.ts
Due: eslint

Enforce WIF-only authentication for GCP accounts
  backend/alembic/versions/011_add_cloud_credentials.py
  backend/app/api/routes/credentials.py
  backend/app/models/cloud_credential.py
  backend/app/services/gcp_credential_service.py
  backend/app/templates/gcp_setup.sh
  backend/app/templates/terraform/gcp/main.tf
  frontend/src/components/CredentialWizard.tsx
  frontend/src/services/api.ts
Due: check-type-hints, eslint

Provide A13E AWS account ID dynamically for GCP WIF setup
  backend/app/api/routes/credentials.py
  backend/app/templates/aws_cloudformation.yaml
  backend/app/templates/gcp_wif_setup.sh
  backend/app/templates/terraform/aws/main.tf
  backend/app/templates/terraform/gcp/main.tf
  frontend/src/components/CredentialWizard.tsx
  infrastructure/terraform/modules/gcp-wif-customer/README.md
  infrastructure/terraform/modules/gcp-wif-customer/main.tf
Due: check-type-hints, eslint

Fix 404 errors from stale account ID in localStorage
  frontend/src/hooks/useSelectedAccount.ts
  frontend/src/stores/authStore.ts
Due: eslint

Fix account switching to atomically update store state
  frontend/src/hooks/useSelectedAccount.ts
Due: eslint

Add a13e_aws_account_id to SetupInstructions TypeScript type
  frontend/src/services/api.ts
Due: eslint

Fix Chronicle SIEM role recommendation to use Viewer instead of Editor/Admin
  backend/app/models/cloud_credential.py
  backend/app/services/gcp_credential_service.py
Due: check-type-hints

Use minimal Chronicle permissions with custom role instead of Viewer
  backend/app/models/cloud_credential.py
  backend/app/services/gcp_credential_service.py
  backend/app/templates/gcp_wif_setup.sh
Due: check-type-hints

Use minimal Security Command Center permissions
  backend/app/models/cloud_credential.py
  backend/app/services/gcp_credential_service.py
  backend/app/templates/gcp_wif_setup.sh
Due: check-type-hints

Fix GCP manual setup instructions with complete step-by-step flow
  backend/app/api/routes/credentials.py
Due: check-type-hints

Simplify Dashboard Security Posture cards for cleaner layout
  frontend/src/components/SecurityHubAggregatedCard.tsx
  frontend/src/components/SecurityPostureCard.tsx
  frontend/src/components/compliance/ComplianceCoverageContent.tsx
Due: eslint

Fix Compliance page design issues and View History rendering
  frontend/src/components/SecurityPostureCard.tsx
  frontend/src/components/compliance/ComplianceCoverageContent.tsx
  frontend/src/pages/ComplianceHistory.tsx
Due: eslint

Remove redundant Detection Coverage card, modernise SecurityPostureCard
  frontend/src/components/SecurityPostureCard.tsx
  frontend/src/components/compliance/ComplianceCoverageContent.tsx
Due: eslint

Add AWS prefix to NIST standards in Security Hub Posture
  frontend/src/components/SecurityPostureCard.tsx
Due: eslint

Fix SQLAlchemy model relationship resolution errors
  backend/app/models/__init__.py
Due: check-type-hints

Add AWS Inspector and Macie scanner support
  backend/alembic/versions/051_add_inspector_macie.py
  backend/app/mappers/inspector_mappings.py
  backend/app/mappers/macie_mappings.py
  backend/app/models/detection.py
  backend/app/scanners/aws/__init__.py
  backend/app/scanners/aws/inspector_scanner.py
  backend/app/scanners/aws/macie_scanner.py
  backend/app/services/scan_service.py
  backend/app/templates/aws_cloudformation.yaml
  backend/app/templates/terraform/aws/main.tf
  backend/templates/terraform/aws/main.tf
  frontend/src/components/DetectionDetailModal.tsx
  frontend/src/pages/Detections.tsx
Due: check-type-hints, eslint

Fix Alembic migration revision chain
  backend/alembic/versions/051_add_inspector_macie.py
Due: none

Fix Security Hub control status detection for MITRE mappings
  backend/app/mappers/pattern_mapper.py
  backend/app/scanners/aws/securityhub_scanner.py
Due: check-type-hints

Fix infinite request loop in ComplianceHistory page
  frontend/src/pages/ComplianceHistory.tsx
Due: eslint

Fix health status detection for managed security services
  backend/app/api/routes/evaluation_history.py
Due: check-type-hints

Fix evaluation history and alerts for managed security services
  backend/app/services/evaluation_history_service.py
  backend/app/services/scan_service.py
Due: check-type-hints

Fix CloudWatch Logs Insights health detection - use camelCase field names
  backend/app/api/routes/evaluation_history.py
  backend/app/services/evaluation_history_service.py
Due: check-type-hints

Add alerts for detections discovered in unhealthy states
  backend/app/services/evaluation_history_service.py
  backend/app/services/scan_service.py
Due: check-type-hints

Rewrite user documentation with comprehensive guides
  .gitignore
  frontend/public/docs/api-keys.md
  frontend/public/docs/billing-subscription.md
  frontend/public/docs/connecting-aws-accounts.md
  frontend/public/docs/connecting-gcp-accounts.md
  frontend/public/docs/getting-started.md
  frontend/public/docs/running-scans.md
  frontend/public/docs/team-management.md
  frontend/public/docs/understanding-coverage.md
  frontend/public/docs/using-dashboards.md
Due: none

Update .gitignore to only track README.md and website docs
  .gitignore
  CODE_AUDIT_REPORT_2025-12-30.md
  infrastructure/terraform/modules/gcp-wif-customer/README.md
  infrastructure/terraform/modules/scanner_DEPRECATED/README.md
Due: none

Redesign documentation with compact, professional layout
  frontend/src/components/docs/DocsLayout.tsx
  frontend/src/pages/docs/DocsPage.tsx
  frontend/src/pages/docs/docs-content.ts
Due: eslint

Fix Profile navigation location in MFA setup docs
  frontend/public/docs/getting-started.md
Due: none

Fix scroll position when navigating between doc pages
  frontend/src/pages/docs/DocsPage.tsx
Due: eslint

Update README with current project state
  README.md
Due: none

Add comprehensive unit tests and upgrade safe packages
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CoverageGauge.test.tsx
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/components/TacticHeatmap.test.tsx
  frontend/src/hooks/useSelectedAccount.test.tsx
  frontend/src/services/api.test.ts
  frontend/src/stores/accountStore.test.ts
  frontend/src/stores/authStore.test.ts
  frontend/src/test/mocks/handlers.ts
  frontend/src/test/mocks/server.ts
  frontend/src/test/setup.ts
  frontend/src/test/test-utils.tsx
  frontend/vite.config.ts
Due: eslint

Upgrade ESLint 9 and typescript-eslint v8 with flat config
  frontend/.eslintrc.cjs
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/MFASetupModal.tsx
  frontend/src/components/SocialLoginButtons.tsx
  frontend/src/pages/OrgSecurity.tsx
Due: eslint

Path conditions:
  check-type-hints: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/src/.*\.(ts|tsx)$
