Repository osuide/detection-coverage-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-type-hints, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for A13E Detection Coverage Validator
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: black (Python formatter)
        files: ^backend/
        language_version: python3

  # Python linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        name: ruff (Python linter)
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

  # Check for untyped functions (all functions must have return type annotations)
  - repo: local
    hooks:
      - id: check-type-hints
        name: check type hints (Python)
        entry: python backend/scripts/check_type_hints.py
        language: python
        files: ^backend/app/.*\.py$
        pass_filenames: true

  # Terraform formatting
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt
        name: terraform fmt
        files: ^infrastructure/terraform/

  # Frontend linting with ESLint
  - repo: local
    hooks:
      - id: eslint
        name: eslint (TypeScript/React linter)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(frontend/public/docs/|.*\.md)$
      - id: end-of-file-fixer
        exclude: ^(frontend/public/docs/|.*\.md)$
      - id: check-yaml
        args: [--unsafe]
        exclude: ^backend/(app/)?templates/.*\.yaml$
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, production]

Fix forgot_password return type for 204 status
  backend/app/api/routes/auth.py
Due: check-type-hints

fix: backend/requirements.txt to reduce vulnerabilities
  backend/requirements.txt
Due: none

Fix Security Hub OTHER category and CIS technique counting
  backend/alembic/versions/048_cleanup_for_rescan.py
  backend/app/scanners/aws/securityhub_scanner.py
Due: check-type-hints

Fix migration 048 down_revision reference
  backend/alembic/versions/048_cleanup_for_rescan.py
Due: none

Fix migration 048: delete from FK-dependent tables first
  backend/alembic/versions/048_cleanup_for_rescan.py
Due: none

Fix migration 048: correct table name is coverage_gaps not gaps
  CLAUDE.md
  backend/alembic/versions/048_cleanup_for_rescan.py
Due: none

Make migration 048 safe: check table existence before DELETE
  backend/alembic/versions/048_cleanup_for_rescan.py
Due: none

Fix CIS technique mapping: handle CIS-prefixed control IDs
  backend/app/mappers/securityhub_mappings.py
Due: check-type-hints

Fix mypy error: rename seen to cis_seen to avoid redefinition
  backend/app/mappers/securityhub_mappings.py
Due: check-type-hints

Update test for CIS-prefixed control ID handling
  backend/tests/unit/test_securityhub_mappings.py
Due: none

Update MITRE mappings per official CTID Security Stack Mappings
  backend/app/mappers/config_rule_mappings.py
  backend/app/mappers/securityhub_mappings.py
Due: check-type-hints

Fix CloudWatch alarm scanner filtering too aggressively
  backend/app/scanners/aws/cloudwatch_scanner.py
Due: check-type-hints

Add migration to create test users with different subscription tiers
  backend/alembic/versions/049_create_test_users.py
Due: none

Fix organization_members insert - no updated_at column
  backend/alembic/versions/049_create_test_users.py
Due: none

Add detection source counts API endpoint for accurate dashboard display
  backend/app/api/routes/detections.py
  frontend/src/pages/Dashboard.tsx
  frontend/src/services/api.ts
Due: check-type-hints, eslint

Remove redundant Security Functions header from Coverage page
  frontend/src/components/SecurityFunctionBreakdown.tsx
Due: eslint

Restrict team member invitations to paid tiers
  CLAUDE.md
  backend/app/api/routes/teams.py
  backend/app/core/security.py
  backend/app/models/billing.py
  frontend/src/pages/TeamManagement.tsx
Due: check-type-hints, eslint

Fix Mixed legend key to match control family badge style
  frontend/src/components/compliance/FamilyCoverageChart.tsx
Due: eslint

Fix Mixed legend badge visibility with inline-flex and border
  frontend/src/components/compliance/FamilyCoverageChart.tsx
Due: eslint

Fix Mixed legend to use white vertical bar indicator
  frontend/src/components/compliance/FamilyCoverageChart.tsx
Due: eslint

Add Security Posture dashboard showing actual compliance findings
  backend/app/scanners/aws/securityhub_scanner.py
  frontend/src/components/SecurityPostureCard.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/services/api.ts
Due: check-type-hints, eslint

Add side-by-side Security Hub posture on Compliance page
  frontend/src/components/compliance/ComplianceCoverageContent.tsx
Due: eslint

Add parallel scanning and rate limiting for improved performance
  backend/app/scanners/aws/cloudwatch_scanner.py
  backend/app/scanners/aws/config_scanner.py
  backend/app/scanners/aws/eventbridge_scanner.py
  backend/app/scanners/aws/guardduty_scanner.py
  backend/app/scanners/aws/lambda_scanner.py
  backend/app/scanners/base.py
  backend/app/scanners/rate_limiter.py
  backend/app/services/scan_service.py
  backend/tests/unit/test_parallel_scanning.py
Due: check-type-hints

Add incremental scanning support with UpdatedAt filter
  backend/app/scanners/aws/securityhub_scanner.py
  backend/app/services/scan_service.py
Due: check-type-hints

Add Redis caching and weekly full scan fallback
  backend/app/core/cache.py
  backend/app/services/scan_service.py
Due: check-type-hints

Fix blocking boto3 calls in scanners for true parallel execution
  backend/app/scanners/aws/cloudwatch_scanner.py
  backend/app/scanners/aws/guardduty_scanner.py
  backend/app/scanners/aws/lambda_scanner.py
  backend/app/scanners/aws/securityhub_scanner.py
Due: check-type-hints

Integrate Redis caching into SecurityHub scanner
  backend/app/scanners/aws/securityhub_scanner.py
Due: check-type-hints

Document scanner async patterns and Redis caching best practices
  CLAUDE.md
Due: none

Fix Security Posture card not displaying data on Dashboard
  backend/app/scanners/aws/securityhub_scanner.py
Due: check-type-hints

Fix caching to actually SKIP API calls on cache hit
  CLAUDE.md
  backend/app/core/cache.py
  backend/app/scanners/aws/securityhub_scanner.py
Due: check-type-hints

Add debugging logs for SecurityHub findings processing
  backend/app/scanners/aws/securityhub_scanner.py
Due: check-type-hints

Add comprehensive debug logging and fallback strategies for Security Hub findings
  backend/app/scanners/aws/securityhub_scanner.py
Due: check-type-hints

Add missing securityhub:GetFindings permission to IAM policy
  backend/app/models/cloud_credential.py
  backend/app/services/aws_credential_service.py
  backend/tests/unit/test_cloud_credential.py
Due: check-type-hints

Fix KeyError 'status' in SecurityHubScanner by using defensive .get()
  backend/app/scanners/aws/securityhub_scanner.py
Due: check-type-hints

Fix InvalidInputException in GetFindings - remove invalid DateRange filter
  backend/app/scanners/aws/securityhub_scanner.py
Due: check-type-hints

Disable incremental filtering for GetFindings to get accurate compliance data
  backend/app/scanners/aws/securityhub_scanner.py
Due: check-type-hints

Add Security Hub GetFindings API lessons learned to CLAUDE.md
  CLAUDE.md
Due: none

Fix GCP scanners blocking event loop with synchronous API calls
  backend/app/scanners/gcp/cloud_logging_scanner.py
  backend/app/scanners/gcp/eventarc_scanner.py
  backend/app/scanners/gcp/org_log_sink_scanner.py
  backend/app/scanners/gcp/org_policy_scanner.py
  backend/app/scanners/gcp/org_scc_scanner.py
  backend/app/scanners/gcp/scc_findings_scanner.py
  backend/app/scanners/gcp/security_command_center_scanner.py
Due: check-type-hints
