Repository osuide/detection-coverage-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-type-hints, eslint

check-type-hints:
  name: check type hints (Python)
  entry: python backend/scripts/check_type_hints.py
  language: python
  pass_filenames: true

eslint:
  name: eslint (TypeScript/React linter)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

Add cloud provider-aware filtering to TechniqueDetail page
  frontend/src/pages/TechniqueDetail.tsx
Due: eslint

Fix effort estimate labels to reflect actual strategy count
  frontend/src/pages/TechniqueDetail.tsx
Due: eslint

Fix Quick Win strategy selection to respect recommended_order
  backend/app/analyzers/gap_analyzer.py
Due: check-type-hints

Add effort_estimates to gap serialization in coverage service
  backend/app/services/coverage_service.py
Due: check-type-hints

Fix effort_estimates dict access in coverage route
  backend/app/api/routes/coverage.py
  backend/app/services/coverage_service.py
Due: check-type-hints

Document JSON column serialization pattern in CLAUDE.md
  CLAUDE.md
Due: none

Fix Quick Win to be 1 strategy instead of 2
  backend/app/analyzers/gap_analyzer.py
  backend/app/data/remediation_templates/template_loader.py
  frontend/src/pages/Gaps.tsx
  frontend/src/pages/TechniqueDetail.tsx
Due: check-type-hints, eslint

Fix scan limits not enforced for SSO users
  backend/app/api/routes/cognito.py
  backend/app/api/routes/github_oauth.py
  backend/app/models/billing.py
Due: check-type-hints

Fix compliance coverage: deduplication, thresholds, and rationale
  backend/app/services/compliance_service.py
Due: check-type-hints

Fix ImportError: use get_settings() not settings
  backend/app/services/compliance_service.py
Due: check-type-hints

Document settings import pattern to prevent future ImportErrors
  CLAUDE.md
Due: none

Exclude telemetry tests from CI
  .github/workflows/ci.yml
Due: none

Upgrade pytest-asyncio to 1.2.0 for pytest 9.x compatibility
  backend/pytest.ini
  backend/requirements.txt
Due: none

Fix security audit findings: async STS, JWT parsing, token reuse
  backend/alembic/versions/053_add_token_rotated_at.py
  backend/app/api/routes/accounts.py
  backend/app/core/security.py
  backend/app/models/user.py
  backend/app/services/auth_service.py
  backend/app/services/scan_service.py
Due: check-type-hints

Fix docker-compose env var names to match code expectations
  docker-compose.yml
Due: none

Fix security audit findings: auth, suspension, tiers, async, DNS
  backend/app/api/routes/auth.py
  backend/app/api/routes/code_analysis.py
  backend/app/api/routes/org_security.py
  backend/app/api/v1/public/auth.py
  backend/app/core/security.py
  backend/app/services/stripe_service.py
  backend/requirements.txt
  backend/tests/unit/test_auth_security.py
  backend/tests/unit/test_domain_verification.py
Due: check-type-hints

Fix DNS verification: properly decode bytes from dnspython
  backend/app/api/routes/org_security.py
Due: check-type-hints

Remove deprecated moto extras (lambda, securityhub)
  backend/requirements.txt
Due: none

Fix Terraform deprecation warnings (AWS provider v6, TF v1.10+)
  .github/workflows/ci.yml
  infrastructure/terraform/backend-prod.hcl
  infrastructure/terraform/backend-staging.hcl
  infrastructure/terraform/main.tf
  infrastructure/terraform/modules/backend/main.tf
  infrastructure/terraform/modules/cloudtrail/main.tf
  infrastructure/terraform/modules/codebuild/main.tf
  infrastructure/terraform/modules/cognito/outputs.tf
  infrastructure/terraform/modules/scanner_DEPRECATED/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Due: none

Fix 6 security audit findings: auth, ACL, IDOR, roles
  backend/app/api/deps.py
  backend/app/api/routes/alerts.py
  backend/app/api/routes/analytics.py
  backend/app/api/routes/code_analysis.py
  backend/app/api/routes/compliance.py
  backend/app/api/routes/custom_detections.py
  backend/app/api/routes/evaluation_history.py
  backend/app/api/routes/mappings.py
  backend/app/api/routes/recommendations.py
  backend/app/api/routes/schedules.py
  backend/app/api/routes/support.py
  backend/app/core/security.py
  backend/app/services/analytics_service.py
Due: check-type-hints

Fix Pydantic V2 deprecation warnings
  backend/app/api/routes/gaps.py
  backend/app/api/routes/support.py
  backend/app/schemas/cloud_organization.py
Due: check-type-hints

Fix 4 security audit findings: ACL bypass, role enforcement, async blocking
  backend/app/api/routes/accounts.py
  backend/app/api/routes/analytics.py
  backend/app/api/routes/code_analysis.py
  backend/app/api/routes/coverage.py
  backend/app/api/routes/custom_detections.py
  backend/app/api/routes/scans.py
  backend/app/api/routes/schedules.py
  backend/app/api/routes/support.py
  backend/app/services/analytics_service.py
  backend/app/services/custom_detection_service.py
Due: check-type-hints

Add security authorization tests for ACL and VIEWER role
  backend/tests/integration/test_security_authorization.py
Due: none

Fix 5 security audit findings: ACL enforcement and VIEWER restrictions
  backend/alembic/versions/054_add_technique_deprecated.py
  backend/app/api/routes/alerts.py
  backend/app/api/routes/code_analysis.py
  backend/app/api/routes/coverage.py
  backend/app/api/routes/custom_detections.py
  backend/app/api/routes/mappings.py
  backend/app/api/routes/scans.py
  backend/app/api/routes/schedules.py
  backend/app/models/mitre.py
Due: check-type-hints

Fix require_role to skip role check for API keys
  backend/app/core/security.py
Due: check-type-hints

Fix migration 054 down_revision: 053_add_token_rotated_at → 053_token_rotated_at
  backend/alembic/versions/054_add_technique_deprecated.py
Due: none

Add total effort breakdown to Actionable Gaps section header
  frontend/src/pages/Gaps.tsx
Due: eslint

Fix UUID serialization in coverage_by_tactic JSONB field
  backend/app/services/drift_detection_service.py
Due: check-type-hints

Document JSONB UUID key serialization issue in CLAUDE.md
  CLAUDE.md
Due: none

Fix PRE technique platform assignment in seed_mitre_data
  backend/app/main.py
Due: check-type-hints

Phase 1: Critical performance and security fixes
  backend/alembic/versions/055_add_performance_indexes.py
  backend/app/api/routes/coverage.py
  backend/app/main.py
  backend/app/services/scan_service.py
Due: check-type-hints

Phase 2: Auth improvements and performance fixes
  backend/alembic/versions/056_add_api_key_updated_action.py
  backend/app/api/deps.py
  backend/app/api/routes/accounts.py
  backend/app/api/routes/alerts.py
  backend/app/api/routes/api_keys.py
  backend/app/api/routes/scans.py
  backend/app/api/routes/schedules.py
  backend/app/models/user.py
Due: check-type-hints

Phase 3: Remove unused GapService
  backend/app/services/gap_service.py
Due: check-type-hints

Fix mypy type error in api_keys.py changes dict
  backend/app/api/routes/api_keys.py
Due: check-type-hints

Fix migration 056 down_revision to match 055's actual ID
  backend/alembic/versions/056_add_api_key_updated_action.py
Due: none

Remove unused weasyprint dependency
  backend/requirements.txt
Due: none

Apply Black 26.1.0 formatting
  backend/app/analyzers/coverage_calculator.py
  backend/app/api/deps/__init__.py
  backend/app/api/deps/authorization.py
  backend/app/api/routes/admin/mitre.py
  backend/app/api/routes/analytics.py
  backend/app/api/routes/custom_detections.py
  backend/app/api/routes/evaluation_history.py
  backend/app/api/v1/public/auth.py
  backend/app/core/cache.py
  backend/app/core/rate_limiter.py
  backend/app/core/region_coverage.py
  backend/app/main.py
  backend/app/mappers/config_rule_mappings.py
  backend/app/middleware/security_headers.py
  backend/app/models/detection.py
  backend/app/models/mapping.py
  backend/app/scanners/aws/guardduty_scanner.py
  backend/app/scanners/aws/inspector_scanner.py
  backend/app/scanners/aws/macie_scanner.py
  backend/app/scanners/aws/service_discovery_scanner.py
  backend/app/scanners/gcp/scc_findings_scanner.py
  backend/app/schemas/auth.py
  backend/app/schemas/cloud_account.py
  backend/app/schemas/cloud_organization.py
  backend/app/schemas/evaluation_history.py
  backend/app/scripts/telemetry_bridge.py
  backend/app/services/drift_detection_service.py
  backend/app/services/evaluation_history_service.py
  backend/app/services/gcp_org_discovery.py
  backend/app/services/google_workspace_service.py
  backend/app/services/report_design.py
  backend/app/services/scan_service.py
  backend/app/services/scheduler_service.py
Due: check-type-hints

Bump ruff from 0.14.11 to 0.14.13
  backend/requirements.txt
Due: none

Sync pre-commit hooks with CI (Black 26.1.0, Ruff 0.14.13)
  .pre-commit-config.yaml
Due: none

Apply Black 26.1.0 formatting to remaining files
  backend/app/cli/create_admin.py
  backend/app/cli/reset_admin_password.py
  backend/app/cli/setup_admin_mfa.py
  backend/app/data/remediation_templates/t1048_002_exfil_asymmetric_encrypted.py
  backend/app/main.py
  backend/app/scripts/seed_mitre.py
Due: check-type-hints

Path conditions:
  check-type-hints: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/src/.*\.(ts|tsx)$
