Repository osuide/detection-coverage-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-type-hints, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for A13E Detection Coverage Validator
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: black (Python formatter)
        files: ^backend/
        language_version: python3

  # Python linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        name: ruff (Python linter)
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

  # Check for untyped functions (all functions must have return type annotations)
  - repo: local
    hooks:
      - id: check-type-hints
        name: check type hints (Python)
        entry: python backend/scripts/check_type_hints.py
        language: python
        files: ^backend/app/.*\.py$
        pass_filenames: true

  # Terraform formatting
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt
        name: terraform fmt
        files: ^infrastructure/terraform/

  # Frontend linting with ESLint
  - repo: local
    hooks:
      - id: eslint
        name: eslint (TypeScript/React linter)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(frontend/public/docs/|.*\.md)$
      - id: end-of-file-fixer
        exclude: ^(frontend/public/docs/|.*\.md)$
      - id: check-yaml
        args: [--unsafe]
        exclude: ^backend/(app/)?templates/.*\.yaml$
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, production]

fix(frontend): Show correct template types per cloud provider
  frontend/src/components/StrategyDetailModal.tsx
Due: eslint

fix(api): Add Azure fields to technique detail API response
  backend/app/api/routes/techniques.py
Due: check-type-hints

feat(azure): Add comprehensive KQL queries and Terraform alert rules for 24 techniques
  backend/app/data/remediation_templates/t1046_network_service_discovery.py
  backend/app/data/remediation_templates/t1048_001_exfil_symmetric_encrypted.py
  backend/app/data/remediation_templates/t1048_002_exfil_asymmetric_encrypted.py
  backend/app/data/remediation_templates/t1048_003_exfil_unencrypted.py
  backend/app/data/remediation_templates/t1048_exfil_alt_protocol.py
  backend/app/data/remediation_templates/t1110_brute_force.py
  backend/app/data/remediation_templates/t1133_external_remote_services.py
  backend/app/data/remediation_templates/t1190_exploit_public_facing_app.py
  backend/app/data/remediation_templates/t1213_003_code_repositories.py
  backend/app/data/remediation_templates/t1213_006_databases.py
  backend/app/data/remediation_templates/t1213_data_info_repositories.py
  backend/app/data/remediation_templates/t1485_data_destruction.py
  backend/app/data/remediation_templates/t1489_service_stop.py
  backend/app/data/remediation_templates/t1490_inhibit_system_recovery.py
  backend/app/data/remediation_templates/t1496_resource_hijacking.py
  backend/app/data/remediation_templates/t1526_cloud_service_discovery.py
  backend/app/data/remediation_templates/t1530_data_from_cloud_storage.py
  backend/app/data/remediation_templates/t1537_transfer_data_cloud_account.py
  backend/app/data/remediation_templates/t1567_001_exfil_code_repo.py
  backend/app/data/remediation_templates/t1567_002_exfil_cloud_storage.py
  backend/app/data/remediation_templates/t1580_cloud_infrastructure_discovery.py
  backend/app/data/remediation_templates/t1610_deploy_container.py
  backend/app/data/remediation_templates/t1613_container_resource_discovery.py
  backend/app/data/remediation_templates/t1619_cloud_storage_object_discovery.py
Due: check-type-hints

feat(compliance): Add azure_services field to CloudContextResponse schema
  backend/app/schemas/compliance.py
  frontend/src/services/complianceApi.ts
Due: check-type-hints, eslint

feat(compliance): Add Azure service mappings to compliance frameworks
  backend/app/data/compliance_mappings/cis_controls_v8.json
  backend/app/data/compliance_mappings/nist_800_53_r5.json
Due: none

feat(compliance): Add Azure service badge rendering in ControlsTable
  frontend/src/components/compliance/ControlsTable.tsx
Due: eslint

test(compliance): Add tests for Azure services schema and data
  backend/tests/unit/test_compliance_azure_services.py
Due: none

fix(compliance): Add data migration to update cloud_context with azure_services
  backend/alembic/versions/060_add_azure_services_to_ctx.py
Due: none

feat(compliance): Filter cloud services by account provider
  frontend/src/components/compliance/ComplianceCoverageContent.tsx
  frontend/src/components/compliance/ControlsTable.tsx
  frontend/src/pages/Compliance.tsx
Due: eslint

fix(azure-kql): Fix missing variables in union queries and schema issues
  backend/app/data/remediation_templates/t1046_network_service_discovery.py
  backend/app/data/remediation_templates/t1048_exfil_alt_protocol.py
  backend/app/data/remediation_templates/t1537_transfer_data_cloud_account.py
Due: check-type-hints

docs(azure-kql): Add performance warnings for 30-day lookback joins
  backend/app/data/remediation_templates/t1046_network_service_discovery.py
  backend/app/data/remediation_templates/t1098_003_additional_cloud_roles.py
  backend/app/data/remediation_templates/t1213_003_code_repositories.py
  backend/app/data/remediation_templates/t1213_006_databases.py
  backend/app/data/remediation_templates/t1213_data_info_repositories.py
  backend/app/data/remediation_templates/t1526_cloud_service_discovery.py
  backend/app/data/remediation_templates/t1555_006_cloud_secrets.py
  backend/app/data/remediation_templates/t1580_cloud_infrastructure_discovery.py
  backend/app/data/remediation_templates/t1613_container_resource_discovery.py
  backend/app/data/remediation_templates/t1619_cloud_storage_object_discovery.py
Due: check-type-hints

docs(azure): Add Azure connection guide and update documentation
  frontend/public/docs/connecting-azure.md
  frontend/public/docs/getting-started.md
  frontend/public/docs/running-scans.md
  frontend/src/pages/docs/docs-content.ts
Due: eslint

fix(docs): Add Azure to markdown file mappings in DocsPage
  frontend/src/pages/docs/DocsPage.tsx
Due: eslint

fix(docs): Add Azure to sidebar navigation in DocsLayout
  frontend/src/components/docs/DocsLayout.tsx
Due: eslint

feat(gcp): Wire up GCP region discovery endpoint
  backend/app/api/routes/accounts.py
Due: check-type-hints

Revert "feat(gcp): Wire up GCP region discovery endpoint"
  backend/app/api/routes/accounts.py
Due: check-type-hints

fix(scan): Handle duplicate ARNs in detection processing batch
  backend/app/services/scan_service.py
Due: check-type-hints

Reapply "feat(gcp): Wire up GCP region discovery endpoint"
  backend/app/api/routes/accounts.py
Due: check-type-hints

feat(azure): Add Azure region discovery endpoint support
  backend/app/api/routes/accounts.py
Due: check-type-hints

fix(azure): Handle Azure WIF config in discover-regions endpoint
  backend/app/api/routes/accounts.py
Due: check-type-hints

feat(aws): Add AWS Organizations account hierarchy endpoint
  backend/app/api/routes/accounts.py
  backend/app/core/cache.py
  backend/app/schemas/cloud_account.py
  frontend/src/pages/Accounts.tsx
  frontend/src/services/api.ts
Due: check-type-hints, eslint

feat(iam): Add AWS Organizations permissions to customer Terraform template
  backend/templates/terraform/aws/main.tf
Due: none

docs: Add AWS Organizations permissions to user guide
  frontend/public/docs/connecting-aws-accounts.md
Due: none

docs(runbook): Add AWS Organizations permissions section
  .gitignore
  docs/runbooks/customer-onboarding/aws-cross-account-role.md
Due: none

fix(hierarchy): Return 'Permissions Required' when IAM role lacks Organizations access
  backend/app/api/routes/accounts.py
  frontend/src/pages/Accounts.tsx
Due: check-type-hints, eslint

fix(deps): Bump python-multipart 0.0.21 → 0.0.22 (Dependabot #34)
  backend/requirements.txt
Due: none

fix: Azure WIF credential label + skip stale hierarchy cache
  backend/app/api/routes/accounts.py
  frontend/src/pages/Accounts.tsx
Due: check-type-hints, eslint

feat: Add Azure to all cloud provider references in frontend
  frontend/index.html
  frontend/src/pages/Billing.tsx
  frontend/src/pages/ConnectOrganization.tsx
  frontend/src/pages/Coverage.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Organizations.tsx
  frontend/src/pages/Privacy.tsx
  frontend/src/pages/Security.tsx
  frontend/src/pages/TechniqueDetail.tsx
  frontend/src/pages/Terms.tsx
  frontend/src/services/api.ts
Due: eslint

feat(quick-scan): Add Terraform HCL parser and scan service (Phase 1)
  backend/app/parsers/terraform_hcl_parser.py
  backend/app/services/quick_scan_service.py
  backend/requirements.txt
  backend/tests/unit/test_quick_scan_service.py
  backend/tests/unit/test_terraform_hcl_parser.py
  backend/tests/unit/test_terraform_hcl_parser_security.py
Due: check-type-hints

feat(quick-scan): Add API endpoint, rate limiting, CORS (Phase 2)
  backend/app/api/deps/rate_limit.py
  backend/app/api/routes/quick_scan.py
  backend/app/main.py
  backend/tests/integration/test_quick_scan_api.py
Due: check-type-hints

feat(quick-scan): Add frontend page, results component, API service (Phase 3)
  frontend/src/App.tsx
  frontend/src/components/QuickScanResults.tsx
  frontend/src/data/exampleTerraform.ts
  frontend/src/pages/QuickScan.tsx
  frontend/src/services/quickScanApi.ts
Due: eslint

fix(quick-scan): Flush rate limit keys between integration tests
  backend/tests/integration/test_quick_scan_api.py
Due: none

debug(quick-scan): Log exception class in catch-all error handler
  backend/app/api/routes/quick_scan.py
Due: check-type-hints

fix(quick-scan): Handle non-dict event_pattern from HCL parser
  backend/app/api/routes/quick_scan.py
  backend/app/parsers/terraform_hcl_parser.py
  frontend/src/data/exampleTerraform.ts
Due: check-type-hints, eslint

fix(quick-scan): Fall back to DB when MITRE cache is empty
  backend/app/services/quick_scan_service.py
Due: check-type-hints

feat(quick-scan): Add MITRE heatmap, expandable detections, filter pre-compromise tactics
  backend/app/api/routes/quick_scan.py
  backend/app/services/quick_scan_service.py
  backend/tests/integration/test_quick_scan_api.py
  frontend/src/components/QuickScanResults.tsx
  frontend/src/services/quickScanApi.ts
Due: check-type-hints, eslint

feat(quick-scan): Comprehensive example Terraform with full tactic coverage
  frontend/src/data/exampleTerraform.ts
Due: eslint

feat(landing): Link Demo buttons to /quick-scan page
  frontend/src/pages/Landing.tsx
Due: eslint

fix(quick-scan): Improve page description copy
  frontend/src/pages/QuickScan.tsx
Due: eslint

fix(quick-scan): Harden public endpoint against resource exhaustion and credential leakage
  backend/app/api/routes/quick_scan.py
  backend/app/parsers/terraform_hcl_parser.py
  backend/app/services/quick_scan_service.py
  backend/tests/integration/test_quick_scan_api.py
Due: check-type-hints
