Repository osuide/detection-coverage-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-type-hints, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for A13E Detection Coverage Validator
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: black (Python formatter)
        files: ^backend/
        language_version: python3

  # Python linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        name: ruff (Python linter)
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

  # Check for untyped functions (all functions must have return type annotations)
  - repo: local
    hooks:
      - id: check-type-hints
        name: check type hints (Python)
        entry: python backend/scripts/check_type_hints.py
        language: python
        files: ^backend/app/.*\.py$
        pass_filenames: true

  # Terraform formatting
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt
        name: terraform fmt
        files: ^infrastructure/terraform/

  # Frontend linting with ESLint
  - repo: local
    hooks:
      - id: eslint
        name: eslint (TypeScript/React linter)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(frontend/public/docs/|.*\.md)$
      - id: end-of-file-fixer
        exclude: ^(frontend/public/docs/|.*\.md)$
      - id: check-yaml
        args: [--unsafe]
        exclude: ^backend/(app/)?templates/.*\.yaml$
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, production]

fix(azure-wif): Make token_supplier synchronous for Azure SDK
  backend/app/services/azure_wif_service.py
Due: check-type-hints

fix(azure): Fix RawDetection arguments in DefenderScanner
  backend/app/scanners/azure/defender_scanner.py
Due: check-type-hints

fix(azure): Deduplicate Defender assessments by assessment_id
  backend/app/scanners/azure/defender_scanner.py
Due: check-type-hints

fix(azure): Improve credential wizard UX for Azure accounts
  frontend/src/components/CredentialWizard.tsx
Due: eslint

Fix delete mutation error handling and refresh credential status after scan
  frontend/src/pages/Accounts.tsx
Due: eslint

Add cloud-specific detection source cards for Azure and GCP
  frontend/src/pages/Dashboard.tsx
Due: eslint

Add adaptive grid layout for detection source cards
  frontend/src/pages/Dashboard.tsx
Due: eslint

Hide AWS Security Posture section for Azure and GCP accounts
  frontend/src/pages/Dashboard.tsx
Due: eslint

feat(frontend): Add multi-cloud support for Azure and GCP
  frontend/src/components/DetectionDetailModal.tsx
  frontend/src/components/StrategyDetailModal.tsx
  frontend/src/pages/Detections.tsx
  frontend/src/pages/Gaps.tsx
  frontend/src/pages/TechniqueDetail.tsx
Due: eslint

fix(detections): Filter detections by selected account
  frontend/src/pages/Detections.tsx
Due: eslint

fix: Filter coverage gap strategies by cloud provider
  backend/app/api/routes/coverage.py
Due: check-type-hints

fix: Add missing Azure Defender MITRE ATT&CK mappings
  backend/app/mappers/azure_defender_mappings.py
Due: check-type-hints

fix: Correct Azure strategy coverage claims for OS-level techniques
  backend/app/data/remediation_templates/t1003_credential_dumping.py
  backend/app/data/remediation_templates/t1052_exfil_physical_medium.py
  backend/app/data/remediation_templates/t1055_process_injection.py
  backend/app/data/remediation_templates/t1056_input_capture.py
  backend/app/data/remediation_templates/t1057_process_discovery.py
  backend/app/data/remediation_templates/t1091_removable_media.py
  backend/app/data/remediation_templates/t1113_screen_capture.py
  backend/app/data/remediation_templates/t1115_clipboard_data.py
  backend/app/data/remediation_templates/t1123_audio_capture.py
  backend/app/data/remediation_templates/t1125_video_capture.py
  backend/app/data/remediation_templates/t1200_hardware_additions.py
Due: check-type-hints

fix(detections): Make managed filter cloud provider-aware
  frontend/src/pages/Detections.tsx
Due: eslint

feat(technique-detail): Add Azure template and KQL query support
  frontend/src/pages/TechniqueDetail.tsx
Due: eslint

feat(azure): Add regulatory compliance scanning to DefenderScanner
  backend/app/mappers/azure_regulatory_compliance_mappings.py
  backend/app/scanners/azure/defender_scanner.py
  backend/tests/unit/test_defender_regulatory_compliance.py
Due: check-type-hints

fix(azure): Define force_full_scan variable for Azure scan path
  backend/app/services/scan_service.py
Due: check-type-hints

Fix managed badge to show correct provider (AWS/Azure/GCP)
  frontend/src/components/InspectorAggregatedCard.tsx
Due: eslint

feat(azure): Add 5 missing Azure remediation templates (Week 1)
  backend/app/data/remediation_templates/t1021_001_remote_desktop_protocol.py
  backend/app/data/remediation_templates/t1021_004_ssh.py
  backend/app/data/remediation_templates/t1059_007_javascript.py
  backend/app/data/remediation_templates/t1505_003_web_shell.py
  backend/app/data/remediation_templates/t1552_004_private_keys.py
Due: check-type-hints

feat(azure): Add Azure KQL queries to Identity/Access templates (Week 2)
  backend/app/data/remediation_templates/t1068_exploitation_for_privilege_escalation.py
  backend/app/data/remediation_templates/t1078_004_cloud_accounts.py
  backend/app/data/remediation_templates/t1098_003_additional_cloud_roles.py
  backend/app/data/remediation_templates/t1110_brute_force.py
  backend/app/data/remediation_templates/t1204_002_malicious_file.py
  backend/app/data/remediation_templates/t1204_003_malicious_image.py
  backend/app/data/remediation_templates/t1204_user_execution.py
  docs/AZURE_TEMPLATE_WORKPLAN.md
Due: check-type-hints

feat(azure): Add Azure KQL queries to Defence Evasion and Credential Access templates (Week 3)
  backend/app/data/remediation_templates/t1040_network_sniffing.py
  backend/app/data/remediation_templates/t1552_001_credentials_in_files.py
  backend/app/data/remediation_templates/t1552_007_container_api.py
  backend/app/data/remediation_templates/t1552_unsecured_credentials.py
  backend/app/data/remediation_templates/t1555_006_cloud_secrets.py
  backend/app/data/remediation_templates/t1562_001_disable_security_tools.py
  backend/app/data/remediation_templates/t1562_007_disable_cloud_firewall.py
  backend/app/data/remediation_templates/t1562_008_disable_cloud_logs.py
  docs/AZURE_TEMPLATE_WORKPLAN.md
Due: check-type-hints

feat(azure): Add Azure KQL queries to remaining 15 templates (Week 4)
  backend/app/data/remediation_templates/t1021_remote_services.py
  backend/app/data/remediation_templates/t1059_command_scripting.py
  backend/app/data/remediation_templates/t1090_proxy.py
  backend/app/data/remediation_templates/t1133_external_remote_services.py
  backend/app/data/remediation_templates/t1190_exploit_public_facing_app.py
  backend/app/data/remediation_templates/t1199_trusted_relationship.py
  backend/app/data/remediation_templates/t1203_exploitation_client_exec.py
  backend/app/data/remediation_templates/t1496_resource_hijacking.py
  backend/app/data/remediation_templates/t1498_network_dos.py
  backend/app/data/remediation_templates/t1499_endpoint_dos.py
  backend/app/data/remediation_templates/t1525_implant_internal_image.py
  backend/app/data/remediation_templates/t1550_001_app_access_token.py
  backend/app/data/remediation_templates/t1557_adversary_in_the_middle.py
  backend/app/data/remediation_templates/t1610_deploy_container.py
  backend/app/data/remediation_templates/t1611_escape_to_host.py
Due: check-type-hints

docs: Update workplan to mark Week 4 as complete
  docs/AZURE_TEMPLATE_WORKPLAN.md
Due: none

fix(azure): Fix invalid DetectionType enums in T1505.003 template
  backend/app/data/remediation_templates/t1505_003_web_shell.py
Due: check-type-hints

docs: Mark Azure template workplan as complete
  docs/AZURE_TEMPLATE_WORKPLAN.md
Due: none

feat(azure): Add Azure Quick Win buttons to detection gaps
  backend/app/analyzers/gap_analyzer.py
  backend/app/api/routes/coverage.py
  backend/app/schemas/coverage.py
  backend/app/services/coverage_service.py
  frontend/src/pages/Gaps.tsx
  frontend/src/services/api.ts
Due: check-type-hints, eslint

feat(azure): Phase 1 - Add technique-specific Defender alerts for Credential Access
  backend/app/data/remediation_templates/t1003_credential_dumping.py
  backend/app/data/remediation_templates/t1040_network_sniffing.py
  backend/app/data/remediation_templates/t1056_input_capture.py
  backend/app/data/remediation_templates/t1110_001_password_guessing.py
  backend/app/data/remediation_templates/t1110_004_credential_stuffing.py
  backend/app/data/remediation_templates/t1111_mfa_interception.py
  backend/app/data/remediation_templates/t1187_forced_authentication.py
  backend/app/data/remediation_templates/t1212_exploitation_credential_access.py
  backend/app/data/remediation_templates/t1539_steal_web_session_cookie.py
  backend/app/data/remediation_templates/t1552_001_credentials_in_files.py
  backend/app/data/remediation_templates/t1552_005_cloud_instance_metadata.py
  backend/app/data/remediation_templates/t1552_007_container_api.py
  backend/app/data/remediation_templates/t1555_006_cloud_secrets.py
  backend/app/data/remediation_templates/t1555_credentials_password_stores.py
  backend/app/data/remediation_templates/t1558_kerberos_tickets.py
Due: check-type-hints

feat(azure): Phase 2 - Add technique-specific Defender alerts for Persistence
  backend/app/data/remediation_templates/t1078_001_default_accounts.py
  backend/app/data/remediation_templates/t1098_003_additional_cloud_roles.py
  backend/app/data/remediation_templates/t1098_004_ssh_authorized_keys.py
  backend/app/data/remediation_templates/t1098_005_device_registration.py
  backend/app/data/remediation_templates/t1098_006_additional_container_cluster_roles.py
  backend/app/data/remediation_templates/t1137_office_app_startup.py
  backend/app/data/remediation_templates/t1176_browser_extensions.py
  backend/app/data/remediation_templates/t1543_create_modify_system_process.py
  backend/app/data/remediation_templates/t1546_008_accessibility_features.py
  backend/app/data/remediation_templates/t1546_event_triggered_execution.py
  backend/app/data/remediation_templates/t1547_boot_logon_autostart.py
  backend/app/data/remediation_templates/t1574_hijack_execution_flow.py
Due: check-type-hints

feat(azure): Phase 3 - Add technique-specific Defender alerts for Privilege Escalation
  backend/app/data/remediation_templates/t1134_access_token_manipulation.py
  backend/app/data/remediation_templates/t1548_005_temporary_elevated_cloud_access.py
Due: check-type-hints

feat(azure): Phase 4 - Add technique-specific Defender alerts for Defense Evasion
  backend/app/data/remediation_templates/t1112_modify_registry.py
  backend/app/data/remediation_templates/t1556_006_mfa_modification.py
  backend/app/data/remediation_templates/t1556_007_hybrid_identity.py
  backend/app/data/remediation_templates/t1556_009_conditional_access_policies.py
  backend/app/data/remediation_templates/t1556_modify_auth_process.py
Due: check-type-hints

feat(azure): Phase 5 - Add technique-specific Defender alerts for Initial Access
  backend/app/data/remediation_templates/t1091_removable_media.py
  backend/app/data/remediation_templates/t1189_driveby_compromise.py
  backend/app/data/remediation_templates/t1195_003_compromise_hardware.py
  backend/app/data/remediation_templates/t1195_supply_chain_compromise.py
  backend/app/data/remediation_templates/t1199_trusted_relationship.py
  backend/app/data/remediation_templates/t1200_hardware_additions.py
  backend/app/data/remediation_templates/t1566_001_spearphishing_attachment.py
  backend/app/data/remediation_templates/t1566_002_spearphishing_link.py
  backend/app/data/remediation_templates/t1566_phishing.py
Due: check-type-hints

feat(azure): Phase 6 - Add technique-specific Defender alerts for Command and Control
  backend/app/data/remediation_templates/t1557_001_llmnr_poisoning.py
  backend/app/data/remediation_templates/t1557_002_arp_poisoning.py
  backend/app/data/remediation_templates/t1557_003_dhcp_spoofing.py
  backend/app/data/remediation_templates/t1557_adversary_in_the_middle.py
Due: check-type-hints

feat(azure): Phase 7 - Add technique-specific Defender alerts for Impact
  backend/app/data/remediation_templates/t1485_001_cloud_storage_deletion.py
  backend/app/data/remediation_templates/t1491_001_internal_defacement.py
  backend/app/data/remediation_templates/t1491_002_external_defacement.py
  backend/app/data/remediation_templates/t1491_defacement.py
  backend/app/data/remediation_templates/t1496_001_compute_hijacking.py
  backend/app/data/remediation_templates/t1496_002_bandwidth_hijacking.py
  backend/app/data/remediation_templates/t1498_001_direct_network_flood.py
  backend/app/data/remediation_templates/t1498_002_reflection_amplification.py
  backend/app/data/remediation_templates/t1498_network_dos.py
  backend/app/data/remediation_templates/t1499_002_service_exhaustion_flood.py
  backend/app/data/remediation_templates/t1499_003_application_exhaustion_flood.py
  backend/app/data/remediation_templates/t1499_004_application_exploitation.py
  backend/app/data/remediation_templates/t1499_endpoint_dos.py
  backend/app/data/remediation_templates/t1529_system_shutdown_reboot.py
  backend/app/data/remediation_templates/t1561_disk_wipe.py
  backend/app/data/remediation_templates/t1565_001_stored_data_manipulation.py
  backend/app/data/remediation_templates/t1565_data_manipulation.py
Due: check-type-hints

feat(azure): Phase 8 - Add technique-specific Defender alerts for Execution
  backend/app/data/remediation_templates/t1505_server_software_component.py
  backend/app/data/remediation_templates/t1525_implant_internal_image.py
  backend/app/data/remediation_templates/t1554_compromise_host_software.py
  backend/app/data/remediation_templates/t1611_escape_to_host.py
Due: check-type-hints

feat(azure): Phase 9 - Add technique-specific Defender alerts for Resource Development
  backend/app/data/remediation_templates/t1583_006_web_services.py
  backend/app/data/remediation_templates/t1583_acquire_infrastructure.py
  backend/app/data/remediation_templates/t1584_compromise_infrastructure.py
  backend/app/data/remediation_templates/t1585_establish_accounts.py
  backend/app/data/remediation_templates/t1586_003_cloud_accounts.py
  backend/app/data/remediation_templates/t1586_compromise_accounts.py
  backend/app/data/remediation_templates/t1587_develop_capabilities.py
  backend/app/data/remediation_templates/t1588_002_tool.py
  backend/app/data/remediation_templates/t1588_obtain_capabilities.py
  backend/app/data/remediation_templates/t1608_stage_capabilities.py
Due: check-type-hints

feat(azure): Phase 10 - Add technique-specific Defender alerts for Credential Forgery & Financial
  backend/app/data/remediation_templates/t1606_002_saml_tokens.py
  backend/app/data/remediation_templates/t1606_forge_web_credentials.py
  backend/app/data/remediation_templates/t1621_mfa_request_generation.py
  backend/app/data/remediation_templates/t1657_financial_theft.py
  backend/app/data/remediation_templates/t1667_email_bombing.py
Due: check-type-hints

fix(azure): Remove remaining generic alerts from container templates
  backend/app/data/remediation_templates/t1525_implant_internal_image.py
  backend/app/data/remediation_templates/t1611_escape_to_host.py
Due: check-type-hints
